<template>
    <div class="page-requests">
        <div class="base-container">
            <AppBreadcrumbs :path="['Профиль', 'Мои заявки']"/>
            <UITitle1 class="page-requests__title">Мои заявки</UITitle1>
            <div class="page-requests__list">
                <UISubstrate v-for="request in requests" :key="request.id">
                    <BaseQuestCard :quest="request.quest">
                        <div style="font-size: 12px; margin-top: 8px;">{{ request.status }}</div>
                    </BaseQuestCard>
                </UISubstrate>
            </div>
        </div>
        <Teleport to="#bottom-bar">
            <div class="page-requests__bottom-bar">
                <Transition>
                    <div v-if="showMoreButton">
                        <UIBtn @click="getRequests" :isLoad="loading">Показать ещё</UIBtn>
                    </div>
                </Transition>
            </div>
        </Teleport>
    </div>
</template>

<script>
import {defineComponent} from 'vue';

import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UITitle1 from '@/components/ui/UITitle1.vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UIBtn from '@/components/ui/UIBtn.vue';

import {getEmitter} from '@/services/emitter';
import RequestsApi from '@/api/requests';
import authStorage from '@/services/authStorage';
import BaseQuestCard from '@/components/base/BaseQuestCard.vue';

const emitter = getEmitter();
const requestsApi = new RequestsApi(emitter);

export default defineComponent({
    name: 'VolunteerRequestsPage',
    components: {
        BaseQuestCard,
        AppBreadcrumbs,
        UITitle1,
        UISubstrate,
        UIBtn,
    },
    data() {
        return {
            requests: [],
            pagination: {offset: 0, limit: 10},
            showMoreButton: true,
            loading: false
        }
    },
    methods: {
        onClickVolunteer({id, volunteer}) {
            const volunteerParams = JSON.stringify(volunteer);
            this.$router.push({name: 'organization-request', params: {id, volunteer: volunteerParams}})
        },
        async getRequests() {
            this.loading = true;
            const requests = await requestsApi.listByVolunteer({
                ...this.pagination,
                volunteerId: Number(authStorage.id),
            });
            if (requests?.length) {
                this.requests.push(...requests);
                this.pagination.offset += 10;
            } else {
                this.showMoreButton = false;
            }
            this.loading = false;
        }
    },
    mounted() {
        this.getRequests();
    }
})
</script>

<style lang="scss" scoped>
.page-requests__title {
    margin-bottom: gridCalc(2);
}

.page-requests__list {
    display: flex;
    flex-direction: column;
    grid-gap: gridCalc(1);
}

.page-requests__bottom-bar {
    padding: gridCalc(1);
}
</style>
