:root {
  --primary: #00B68A;
  --turquoise: #A1E4D4;
  --secondary: #D8F8F0;
  --grid-gutter: 8px;
  --green-btn-text: var(--primary);

  --color-grary: #E0E0E0;

  --default-border-color: var(--color-grary);
  --default-border: 1px solid var(--border-color);
}
