<template>
    <div class="page-quest-page">
        <div class="base-container">
            <AppBreadcrumbs :path="['Главная', 'Задания', `Задание ${quest.id}`]"/>
            <UITitle1>Задание - {{ quest.name }}</UITitle1>
            <div>{{ quest.description }}</div>
            <UIBtn type="primary" @click="sendRequest" class="page-quest-page__send-request">Подать заявку</UIBtn>
        </div>
    </div>
</template>
<script>
import {defineComponent} from 'vue';

import UITitle1 from '@/components/ui/UITitle1.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import {getEmitter} from '@/services/emitter';
import QuestApi from '@/api/quests';

const emitter = getEmitter();
const questApi = new QuestApi(emitter);
export default defineComponent({
    name: 'QuestPage',
    data() {
        return {
            quest: {}
        }
    },
    components: {
        UITitle1,
        UIBtn,
        AppBreadcrumbs,
    },
    methods: {
        getQuest() {
            this.quest = JSON.parse(this.$route.params.quest)
        },
        async sendRequest() {
            this.isLoad = true;
            const isSuccess = await questApi.addRequestFromVolunteer(this.quest.id);
            this.isLoad = false;

            if (isSuccess) {
               this.$router.push('/volunteer/profile')
            }
        }
    },
    mounted() {
        this.getQuest()
    }
})
</script>
<style lang="scss" scoped>
.page-quest-page__send-request {
    margin-top: gridCalc(4);
}
</style>
