<template>
  <div class="page-quests">
    <div class="base-container">
      <AppBreadcrumbs :path="['Главная', 'Задания']"/>
      <UITitle1 class="page-quests__title">Задания</UITitle1>
      <div class="page-quests__quests-list">
        <UISubstrate v-for="quest in quests" v-bind:key="quest.id">
            <BaseQuestCard :quest="quest" @click="$router.push({ name: 'volunteer-quest', params: { id: quest.id, quest: JSON.stringify(quest) }})"/>
        </UISubstrate>
        <Teleport to="#bottom-bar">
          <div class="page-quests__bottom-bar">
            <Transition>
              <div v-if="showMoreButton">
                <UIBtn @click="getAllQuests" :isLoad="loading" >Показать ещё</UIBtn>
              </div>
            </Transition>
          </div>
        </Teleport>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue';

import UITitle1 from '@/components/ui/UITitle1.vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import BaseQuestCard from '@/components/base/BaseQuestCard.vue';

import { getEmitter } from '@/services/emitter';
import QuestApi from '@/api/quests';

const emitter = getEmitter();
const questsApi = new QuestApi(emitter);

export default defineComponent({
  name: 'QuestsPage',
  components: {AppBreadcrumbs, UITitle1, UISubstrate, BaseQuestCard, UIBtn},
  data() {
    return {
      quests: [],
      pagination: {offset: 0, limit: 10},
      showMoreButton: true,
      loading: false
    }
  },
  methods: {
    async getAllQuests() {
      this.loading = true;
      const quests = await questsApi.list(this.pagination);
      if(quests?.length) {
        this.quests.push(...quests);
        this.pagination.offset += 10;
      } else {
        this.showMoreButton = false;
      }
      this.loading = false;
    }
  },
  mounted() {
    this.getAllQuests();
  }
})
</script>

<style lang="scss">
.page-quests__title {
  margin-bottom: gridCalc(2);
}

.page-quests__quests-list {
  display: flex;
  flex-direction: column;
  grid-gap: gridCalc(1);
}

.page-quests__bottom-bar {
  padding: gridCalc(1);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
