<template>
  <div class="item" :class="`item--${activeIcon.mode}`" :title="activeIcon.name">
    <span v-if="more" class="item__more">+ {{ more }}</span>
    <img
        v-else
        class="item__icon"
        :src="`/assets/images/teg-icons/${activeIcon.icon}`"
        alt="">
  </div>
</template>

<script>

export default {
  name: 'SquareTagItem',
  components: {
  },
  props: {
    type: {
      type: Number,
      required: true,
    },
    more: {
      type: Number,
      default: 0,
    }
  },
  data() {
    return {
      defaultType: 13,
      typeList: {
        0: {
          name: `Еще ${this.more} тега`,
          mode: 'more',
        },
        1: {
          name: 'Здоровье и ЗОЖ',
          mode: 'health',
          icon: 'health.svg',
        },
        2: {
          name: 'Массовые мероприятия',
          mode: 'activities',
          icon: 'activities.svg'
        },
        3: {
          name: 'Природа и животные',
          mode: 'nature',
          icon: 'nature.svg'
        },
        4: {
          name: 'Помощь пожилым',
          mode: 'care',
          icon: 'care.svg'
        },
        5: {
          name: 'Дети и молодежь',
          mode: 'teenagers',
          icon: 'teenagers.svg'
        },
        6: {
          name: 'Поиск пропавших',
          mode: 'search',
          icon: 'search.svg'
        },
        7: {
          name: 'Культура и искусство',
          mode: 'culture',
          icon: 'culture.svg'
        },
        8: {
          name: 'Городская среда',
          mode: 'urban',
          icon: 'urban.svg',
        },
        9: {
          name: 'Права человека',
          mode: 'human-rights',
          icon: 'human-rights.svg',
        },
        10: {
          name: 'Социальная защита',
          mode: 'social',
          icon: 'social.svg',
        },
        11: {
          name: 'Наука и образование',
          mode: 'education',
          icon: 'education.svg',
          color: null,
        },
        12: {
          name: 'ЧС',
          mode: 'emergency',
          icon: 'emergency.svg',
        },
        13: {
          name: 'Другое',
          mode: 'ofter',
          icon: 'ofter.svg',
        }
      }
    };
  },
  computed: {
    activeIcon() {
      const icon = this.typeList[this.type];
      if (icon) {
        return icon;
      }
      return this.typeList[this.defaultType];
    }
  }
}
</script>

<style scoped lang="scss">
.item {
  --bg-color: #fff;

  width: 24px;
  height: 24px;
  background: var(--bg-color);
  border-radius: 5px;
  position: relative;

  &--health {
    --bg-color: #13AAB4;
  }
  &--activities {
    --bg-color: #3988FF;
  }
  &--nature {
    --bg-color: #00B65E;
  }
  &--care {
    --bg-color: #D1C185
  }
  &--teenagers {
    --bg-color: #91B600
  }
  &--search {
    --bg-color: #FF6666
  }
  &--culture {
    --bg-color: #FF80D4
  }
  &--urban {
    --bg-color: #C49BEC
  }
  &--human-rights {
    --bg-color: #639AED
  }
  &--social {
    --bg-color: #FA7A43
  }
  &--education {
    --bg-color: #4767BA
  }
  &--emergency {
    --bg-color: #59D6DE
  }
  &--ofter {
    --bg-color: #A6B4C7
  }
}

.item__more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  color: #818C99;
  white-space: nowrap;
}

.item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>