<template>
  <div class="list">
    <SquareTagItem
        v-for="item in iconList"
        :key="item"
        :type="item"
        :more="more"
    />
    <SquareTagItem
        v-if="isMoreShow"
        type="0"
        :more="moreItems"
    />
  </div>
</template>

<script>
import SquareTagItem from '@/components/common/SquareTag/SquareTagItem.vue';

export default {
  name: 'SquareTagList',
  components: {SquareTagItem},
  props: {
    types: {
      type: Array,
      required: true,
    },
    max: {
      types: Number,
      default: 100,
    }
  },
  computed: {
    isMoreShow() {
      return this.types.length > this.max;
    },
    iconList() {
      if (this.isMoreShow) {
         return this.types.slice(0, this.max - 1);
      }
      return this.types
    },
    moreItems() {
      return  this.types.length - this.iconList.length;
    }
  }
}
</script>

<style scoped lang="scss">
.list {
  display: flex;
  flex-wrap: wrap;
  gap: gridCalc(0.5);
}
</style>