<template>
  <div class="auth-page">
    <div class="base-container">
      <div>
        <AppBreadcrumbs :path="['Профиль', 'Авторизация']"/>
      </div>
      <UITitle1 class="auth-page__title">Авторизация</UITitle1>
      <div class="auth-page__tabs">
        <UITab
            v-for="(tab, index) in roles"
            :key="index"
            :is-active="activeRole === tab.id"
            @click="activeRole = tab.id"
        >
          {{ tab.name }}
        </UITab>
      </div>
      <AuthForm @form:submit="onAuthSubmit"/>
    </div>
  </div>
</template>

<script>
import {defineComponent} from 'vue';

import UITitle1 from '../../components/ui/UITitle1.vue';
import UITab from '@/components/ui/UITab.vue';
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import AuthForm from '@/components/forms/AuthForm.vue';

import AuthAPI from '@/api/auth';
import {getEmitter} from '@/services/emitter';
import {useLoginStore} from "@/stores/login";

const emitter = getEmitter();
const authAPI = new AuthAPI(emitter);

export default defineComponent({
  name: 'AuthPage',
  components: {AuthForm, UITitle1, AppBreadcrumbs, UITab},
  data() {
    return {
      roles: [
        {id: 'volunteer', name: 'Волонтер'},
        {id: 'organization', name: 'Организатор'},
      ],
      activeRole: 'volunteer',
    }
  },
  methods: {
    async onAuthSubmit({ email, password}) {
      const isSuccess = await authAPI.auth({ email, password, role: this.activeRole});

      if (isSuccess) {
        useLoginStore().login(this.activeRole)
        this.$router.push({ name: `${this.activeRole}-start`})
      }
    },
    isNotReady() {
      alert('Пока не готово. :)')
    },
  }
})
</script>

<style lang="scss" scoped>
.auth-page__tabs {
  display: flex;
  grid-gap: gridCalc(0, 1);
  margin-bottom: gridCalc(2);
}

.auth-page__title {
  margin-bottom: gridCalc(2);
}

.auth-page__links {
  display: flex;
  justify-content: space-between;
  grid-gap: gridCalc(1);
  margin-top: gridCalc(3);
}
</style>
