@function gridCalc($indexes...) {
    $sum: '';
    @each $index in $indexes {
        @if ($index == 'auto') {
            $sum: $sum + auto;
        } @else {
            $sum: $sum + calc(var(--grid-gutter) * #{$index});
        }
    }
    @return unquote($sum);
}
