<template>
  <div class="base-container">
    <div class="volunteer-start-page">
      <div class="volunteer-start-page-recommendations">
        <UISubstrate>
        <UITitle2>Рекомендации</UITitle2>
        <div class="volunteer-start-page__slider">
          <UISlides>
            <SwiperSlide v-for="i in 5" :key="i">
              <UISlidesItem>
                <BaseQuestCard :quest="journal[0]"></BaseQuestCard>
              </UISlidesItem>
            </SwiperSlide>
          </UISlides>
        </div>
        <div class="volunteer-start-page__actions">
          <UIBtn btn-type="secondary" @click="$router.push('/volunteer/recommendations')">Все рекомендации</UIBtn>
        </div>
      </UISubstrate>
      </div>
      <div class="volunteer-start-page-search">
        <UISubstrate>
          <UITitle2>Поиск заданий</UITitle2>
          <div class="volunteer-start-page-search-block">
            <BaseQuestCard :key="item" v-for="item in quests" :quest="item"></BaseQuestCard>
            <UIBtn btn-type="secondary" @click="$router.push('/volunteer/quests')">Все задания</UIBtn>
          </div>
        </UISubstrate>
      </div>
      <div class="volunteer-start-page-journal">
        <UISubstrate>
          <UITitle2>Журнал</UITitle2>
          <div class="volunteer-start-page-journal-block">
            <BaseQuestCard :key="quest.id" v-for="quest in journal" :quest="quest"></BaseQuestCard>
            <UIBtn @click="openLastActivities" btn-type="secondary">Показать все</UIBtn>
          </div>
        </UISubstrate>
      </div>
    </div>
  </div>
</template>
<script>
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UISlides from '@/components/ui/UISlides.vue';
import UISlidesItem from '@/components/ui/UISlidesItem.vue';
import {SwiperSlide} from 'swiper/vue';
import BaseQuestCard from '@/components/base/BaseQuestCard.vue';
export default {
  name: 'VolunteerStartPage',
  data() {
    return {
      journal: [{
        id: 123,
        organizationId: 456,
        name: 'Субботник в Парке культуры и отдыха им. Маяковского',
        description: '',
        img: '',
        startDate: '29.06.2022',
        endDate: '30.06.2022',
        rewardCoins: '',
        rewardExp: '',
      }],
      quests: [
        {
          id: 123,
          organizationId: 456,
          name: 'Уборка территории возле МБОУ Лицей 39',
          description: '',
          img: '',
          startDate: '29.06.2022',
          endDate: '30.06.2022',
          rewardCoins: '',
          rewardExp: '',
        }
      ]
    }
  },
  components: {
    UISubstrate,
    UITitle2,
    UIBtn,
    UISlides,
    UISlidesItem,
    SwiperSlide,
    BaseQuestCard,
  },
  methods: {
    openLastActivities() {
      alert('Страница еще не готова. Заходите чуть позже. :)')
    }
  }
}
</script>

<style lang="scss" scoped>
.volunteer-start-page {
  margin-top: gridCalc(3);
}

.volunteer-start-page__slider {
  --custom-slide-aspect-ratio: none;
  --custom-slide-border: none;

  margin-top: gridCalc(3);
}

.volunteer-start-page__actions {
  margin-top: gridCalc(2);
}
.volunteer-start-page-search {
  margin-top: gridCalc(2);
}
.volunteer-start-page-journal {
  margin-top: gridCalc(2);
}

.volunteer-start-page-search-block, .volunteer-start-page-journal-block {
  margin-top: gridCalc(2);
  display: grid;
  gap: gridCalc(2);
}

</style>
