<template>
  <div class="page-requests">
    <div class="base-container">
      <AppBreadcrumbs :path="['Организатор', 'Заявки волонтеров']"/>
      <UITitle1 class="page-requests__title">Заявки волонтеров</UITitle1>
      <div class="page-requests__list">
        <UISubstrate v-for="request in requests" :key="request.id">
          <BaseVolunteerCard :volunteer="request.volunteer" @click="onClickVolunteer(request)">
            <div style="font-size: 12px;">{{  getStatus(request) || "Ожидание" }}</div>
          </BaseVolunteerCard>
        </UISubstrate>
      </div>
    </div>
    <Teleport to="#bottom-bar">
      <div class="page-requests__bottom-bar">
        <Transition>
          <div v-if="showMoreButton">
            <UIBtn @click="getRequests" :isLoad="loading" >Показать ещё</UIBtn>
          </div>
        </Transition>
      </div>
    </Teleport>
  </div>
</template>

<script>
import {defineComponent} from 'vue';

import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UITitle1 from '@/components/ui/UITitle1.vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import BaseVolunteerCard from '@/components/base/BaseVolunteerCard.vue';
import UIBtn from '@/components/ui/UIBtn.vue';

import {getEmitter} from '@/services/emitter';
import RequestsApi from '@/api/requests';
import authStorage from '@/services/authStorage';

const emitter = getEmitter();
const requestsApi = new RequestsApi(emitter);

const STATUSES = {
  waiting: 'Ожидание',
  'approved': 'Принят в команду',
  'completed': 'Закончено',
  'denied': 'Отклонено',
}

export default defineComponent({
  name: 'OrganizationRequestPage',
  components: {
    AppBreadcrumbs,
    UITitle1,
    UISubstrate,
    UIBtn,
    BaseVolunteerCard,
  },
  data() {
    return {
      requests: [],
      pagination: {offset: 0, limit: 10},
      showMoreButton: true,
      loading: false
    }
  },
  methods: {
    getStatus(volunteer){
      return STATUSES[volunteer?.status]
    },
    onClickVolunteer({ id, volunteer }) {
      const volunteerParams = JSON.stringify(volunteer);
      this.$router.push({ name: 'organization-request', params: { id, volunteer: volunteerParams }})
    },
    async getRequests() {
      this.loading = true;
      const requests = await requestsApi.listByOrganization({
        ...this.pagination,
        organizationId: +authStorage.id,
      });
      if(requests?.length) {
        this.requests.push(...requests);
        this.pagination.offset += 10;
      } else {
        this.showMoreButton = false;
      }
      this.loading = false;
    }
  },
  mounted() {
    this.getRequests();
  }
})
</script>

<style lang="scss" scoped>
.page-requests__title {
  margin-bottom: gridCalc(2);
}

.page-requests__list {
  display: flex;
  flex-direction: column;
  grid-gap: gridCalc(1);
}

.page-requests__bottom-bar {
  padding: gridCalc(1);
}
</style>
