<template>
  <div class="base-container">
    <div class="user-profile__breadcrumb">
      <AppBreadcrumbs :path="['Организатор', 'Заявки волонтеров', `Заявка ${$route.params.id}`]"/>
    </div>
    <div class="user-profile__ships-container">
      <UIShips is-copy :text="`ID: ${$route.params.id}`" ships-type="primary"/>
      <UserAvailableStatus v-if="volunteer?.status"  exp="1000" :status="volunteer.status"></UserAvailableStatus>
    </div>
    <template v-if="volunteer">
      <div class="user-profile__main-info">
        <div class="user-profile__avatar">
          <div class="user-profile__avatar-item"></div>
        </div>
        <div class="user-profile__info__title">
          <UITitle1>
            {{ name }}
          </UITitle1>
        </div>
      </div>
      <div class="user-profile__actions">
        <UIBtn btn-size="md" @click="addToFavourites">
          <div class="user-profile__action--item">
            Добавить в избранное
            <img src="@/assets/images/heart.svg" class="user-profile__action--icon" alt="">
          </div>
        </UIBtn>
      </div>
      <UserStatisticWidget class="user-profile__stat" :exp="volunteer.exp"/>
    </template>
  </div>
  <Teleport to="#bottom-bar">
    <div class="user-profile__approve">
      <UIBtn btn-type="blue" @click="approveRequest">Подтвердить заявку</UIBtn>
    </div>
  </Teleport>
</template>

<script>
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UIShips from '@/components/ui/UIShips.vue';
import UITitle1 from '@/components/ui/UITitle1.vue'
import UIBtn from '@/components/ui/UIBtn.vue'
import UserAvailableStatus from '@/components/stuff/UserAvailableStatus.vue';
import UserStatisticWidget from '@/components/widgets/UserStatisticWidget.vue';
import lvlGenerator from '@/services/lvlGenerator';

import {getEmitter} from '@/services/emitter';
import RequestsApi from '@/api/requests';

const emitter = getEmitter();
const requestsApi = new RequestsApi(emitter);

export default {
  name: 'OrganizationRequestPage',
  components: {
    UserAvailableStatus,
    AppBreadcrumbs,
    UIShips,
    UITitle1,
    UIBtn,
    UserStatisticWidget,
  },
  data() {
    return {
      volunteer: null,
    }
  },
  computed: {
    name() {
      return [this.volunteer.first_name, this.volunteer.last_name].join(' ')
    },
    lvl() {
      if (this.volunteer?.exp) {
        return lvlGenerator(1500)
      }
      return 1;
    }
  },
  methods: {
    addToFavourites() {
      console.log('test');
    },
    async approveRequest() {
      const id = +this.$route.params.id;
      const isSuccess = await requestsApi.approve({promptId: id})

      if (isSuccess) {
        this.$router.back()
      }
    }
  },
  mounted() {
    this.volunteer = this.$route.params?.volunteer ? JSON.parse(this.$route.params?.volunteer) : null;
  }
}
</script>

<style lang="scss" scoped>
.user-profile__ships-container {
  display: flex;
  grid-gap: gridCalc(1);
}

.user-profile__main-info {
  display: flex;
  grid-gap: gridCalc(1);
  padding-top: gridCalc(2);
}

.user-profile__avatar-item {
  display: flex;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: #639AED;
  width: 55px;
  aspect-ratio: 1 / 1;
}

.user-profile__actions {
  padding-top: gridCalc(2);
  padding-right: gridCalc(8);
}

.user-profile__action--item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile__action--icon {
  padding-left: gridCalc(1);
}

.user-profile__info {
  padding-top: gridCalc(2);
}

.user-profile__info__title {
  display: flex;
  align-items: center;
}

.user-profile__info-block {
  padding-bottom: gridCalc(3);
  display: grid;
  grid-gap: gridCalc(1);
}

.user-profile__info-block:not(:nth-child(2)) {
  padding-top: gridCalc(3);
}

.user-profile__info-block:not(:last-child) {
  border-bottom: #E0E0E0 solid 1px;
}

.user-profile__info-block__item {
  display: grid;
  grid-gap: gridCalc(0.5);
  font-weight: 500;
}

.user-profile__info-block__item__directions {
  display: grid;
  grid-gap: gridCalc(1);
}

.user-profile__approve {
  padding: gridCalc(1);
}

.user-profile__stat {
  margin-top: gridCalc(2);
}
</style>
