<template>
    <div class="base-container">
        <div class="organization-profile__breadcrumb">
            <AppBreadcrumbs :path="['Профиль']"/>
        </div>
        <div class="organization-profile__ships-container">
            <UIShips is-copy text="ID: 22545" ships-type="primary"/>
            <UIShips text="Есть верификация" ships-type="success"/>
        </div>

        <div class="organization-profile__main-info">
            <div class="organization-profile__avatar">
                <div class="organization-profile__avatar-item"></div>
            </div>
            <div class="organization-profile__title">
                <UITitle1>
                    Фонд "Доброта в городе"
                </UITitle1>
            </div>
        </div>
        <div class="organization-profile__actions">
            <UIBtn btn-size="md" @click="addToFavourites">
                <div class="organizations-profile__action--item">
                    Добавить в избранное
                    <img src="@/assets/images/heart.svg" class="organizations-profile__action--icon" alt="">
                </div>
            </UIBtn>
        </div>
        <div class="organization-profile__info">
            <UISubstrate>
               <div class="organization-profile__info__title">
                   <UITitle2>
                       Данные организации
                   </UITitle2>
               </div>
                <div class="organization-profile__info-block">
                    <div v-if="organization.requisites.name" class="organization-profile__info-block__item">
                        <UILabel>
                            Название
                        </UILabel>
                        <span>
                            {{ organization.requisites.name }}
                        </span>
                    </div>
                    <div v-if="organization.requisites.inn" class="organization-profile__info-block__item">
                        <UILabel>
                            ИНН
                        </UILabel>
                        <span>
                            {{ organization.requisites.inn }}
                        </span>
                    </div>
                    <div v-if="organization.requisites.kpp" class="organization-profile__info-block__item">
                        <UILabel>
                            КПП
                        </UILabel>
                        <span>
                            {{ organization.requisites.kpp }}
                        </span>
                    </div>
                    <div v-if="organization.requisites.ogrn" class="organization-profile__info-block__item">
                        <UILabel>
                            ОГРН
                        </UILabel>
                        <span>
                            {{ organization.requisites.ogrn }}
                        </span>
                    </div>
                    <div v-if="organization.requisites.legalAddress" class="organization-profile__info-block__item">
                        <UILabel>
                            Юридический адрес
                        </UILabel>
                        <span>
                            {{ organization.requisites.legalAddress }}
                        </span>
                    </div>
                </div>
                <div class="organization-profile__info-block">
                    <div v-if="organization.contacts.tel" class="organization-profile__info-block__item">
                        <UILabel>
                            Телефон
                        </UILabel>
                        <UILink :href="'tel:'+organization.contacts.tel">
                            {{ organization.contacts.tel }}
                        </UILink>
                    </div>
                    <div v-if="organization.contacts.email" class="organization-profile__info-block__item">
                        <UILabel>
                            E-mail
                        </UILabel>
                        <UILink :href="'tel:'+organization.contacts.email">
                            {{ organization.contacts.email }}
                        </UILink>
                    </div>
                    <div v-if="organization.contacts.site" class="organization-profile__info-block__item">
                        <UILabel>
                            Сайт
                        </UILabel>
                        <UILink :href="organization.contacts.site" type-link="blue">
                            {{ organization.contacts.site }}
                        </UILink>
                    </div>
                    <div v-if="organization.contacts.telegram" class="organization-profile__info-block__item">
                        <UILabel>
                            Telegram
                        </UILabel>
                        <UILink :href="'https://t.me/'+organization.contacts.telegram" type-link="blue">
                            @{{ organization.contacts.telegram }}
                        </UILink>
                    </div>
                    <div v-if="organization.contacts.vk" class="organization-profile__info-block__item">
                        <UILabel>
                            Профиль VK
                        </UILabel>
                        <UILink :href="'https://'+organization.contacts.vk" type-link="blue">
                            {{ organization.contacts.vk }}
                        </UILink>
                    </div>
                </div>
                <div class="organization-profile__info-block">
                    <div class="organization-profile__info-block__item">
                        <UILabel>
                            Интересуют направления
                        </UILabel>
                        <div class="organization-profile__info-block__item__directions">

                            <template v-for="(direction, index) of organization.directions" :key="index">
                            <span>
                                {{ direction.name }}
                            </span>
                            </template>
                        </div>
                    </div>
                </div>
            </UISubstrate>
        </div>
        <!--      TODO: Добавить логику  -->
    </div>
</template>

<script>
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UIShips from '@/components/ui/UIShips.vue';
import UITitle1 from '@/components/ui/UITitle1.vue'
import UIBtn from '@/components/ui/UIBtn.vue'
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import UILabel from '@/components/ui/UILabel.vue';
import UILink from '@/components/ui/UILink.vue';

export default {
    name: 'GuestProfileOrganizationViewPage',
    components: {
        UILink,
        UILabel,
        UITitle2,
        UISubstrate,
        AppBreadcrumbs,
        UIShips,
        UITitle1,
        UIBtn,
    },
    data() {
        return {
            organization: {
                requisites: {
                    name: 'Фонд “Доброта в городе”',
                    inn: '6908007077',
                    kpp: '560301002',
                    ogrn: '1025900175443',
                    legalAddress: '125 009 г.Mocква, ул. Добронравова 56/1, офис 5542'
                },
                contacts: {
                    tel: '+7 999 02 36 55',
                    email: 'dobrotacity.ru@yandex.ru',
                    site: 'dobrotacity.ru',
                    vk: 'vk.com/dobrotacity',
                    telegram: 'dobrotacity',
                },
                directions: [
                    {
                        name: 'Здоровье и ЗОЖ'
                    },
                    {
                        name: 'Массовые мероприятия'
                    },
                    {
                        name: 'Дети и молодежь'
                    },
                    {
                        name: 'Культура и искусство'
                    },
                    {
                        name: 'Городская среда'
                    },
                ]
            }
        }
    },
    methods: {
        addToFavourites() {
            console.log('addToFavourites')
        }
    }
}
</script>

<style lang="scss" scoped>
.organization-profile__ships-container {
    display: flex;
    grid-gap: gridCalc(1);
}
.organization-profile__main-info {
    display: flex;
    grid-gap: gridCalc(1);
    padding-top: gridCalc(2);
}
.organization-profile__avatar-item {
    display: flex;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: #639AED;
    width: 55px;
    aspect-ratio: 1 / 1;
}

.organization-profile__actions {
    padding-top: gridCalc(2);
    padding-right: gridCalc(10);
}
.organizations-profile__action--item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.organizations-profile__action--icon {
    padding-left: gridCalc(0.2);
}
.organization-profile__info {
    padding-top: gridCalc(2);
}
.organization-profile__info__title {
    padding-bottom: gridCalc(2);
}
.organization-profile__info-block {
    padding-bottom: gridCalc(3);
    display: grid;
    grid-gap: gridCalc(1);
}
.organization-profile__info-block:not(:nth-child(2)) {
    padding-top: gridCalc(3);
}
.organization-profile__info-block:not(:last-child) {
    border-bottom: #E0E0E0 solid 1px;
}
.organization-profile__info-block__item {
    display: grid;
    grid-gap: gridCalc(0.25);
    font-weight: 500;
}

.organization-profile__info-block__item__directions {
    display: grid;
    grid-gap: gridCalc(1);
}

</style>