<template>
    <div class="base-container">
        <div class="user-profile__breadcrumb">
            <AppBreadcrumbs :path="['Профиль']"/>
        </div>
        <div class="user-profile__ships-container">
            <UIShips is-copy text="ID: 22545" ships-type="primary"/>
            <UIShips text="Свободен" ships-type="success"/>
        </div>

        <div class="user-profile__main-info">
            <div class="user-profile__avatar">
                <div class="user-profile__avatar-item"></div>
            </div>
            <div class="user-profile__info__title">
                <UITitle1>
                    Иванов Иван
                </UITitle1>
            </div>
        </div>
        <div class="user-profile__actions">
            <UIBtn btn-size="md" @click="addToFavourites">
                <div class="user-profile__action--item">
                    Добавить в избранное
                    <img src="@/assets/images/heart.svg" class="user-profile__action--icon" alt="">
                </div>
            </UIBtn>
        </div>
        <div class="user-profile__info">
            <UISubstrate>
                <div class="user-profile__info__title">
                    <UITitle2>
                        Данные организации
                    </UITitle2>
                </div>
                <div class="user-profile__info-block">
                    <div class="user-profile__info-block__item">
                        <UILabel>
                            ФИО
                        </UILabel>
                        <span>
                            {{ user.requisites.surname }} {{ user.requisites.name }} {{ user.requisites.lastname }}
                        </span>
                    </div>
                    <div v-if="user.requisites.sex" class="user-profile__info-block__item">
                        <UILabel>
                            Пол
                        </UILabel>
                        <span>
                           {{ user.requisites.sex === 'male' ? 'Мужской' : 'Женский' }}
                        </span>
                    </div>
                    <div v-if="user.requisites.age" class="user-profile__info-block__item">
                        <UILabel>
                            Пол
                        </UILabel>
                        <span>
                            {{ user.requisites.age }} лет
                        </span>
                    </div>
                    <div v-if="user.contacts.tel" class="user-profile__info-block__item">
                        <UILabel>
                            Телефон
                        </UILabel>
                        <UILink :href="'tel:'+user.contacts.tel">
                            {{ user.contacts.tel }}
                        </UILink>
                    </div>
                    <div v-if="user.contacts.email" class="user-profile__info-block__item">
                        <UILabel>
                            E-mail
                        </UILabel>
                        <UILink :href="'tel:'+user.contacts.email">
                            {{ user.contacts.email }}
                        </UILink>
                    </div>
                    <div v-if="user.contacts.telegram" class="user-profile__info-block__item">
                        <UILabel>
                            Telegram
                        </UILabel>
                        <UILink :href="'https://t.me/'+user.contacts.telegram" type-link="blue">
                            @{{ user.contacts.telegram }}
                        </UILink>
                    </div>
                    <div v-if="user.contacts.vk" class="user-profile__info-block__item">
                        <UILabel>
                            Профиль VK
                        </UILabel>
                        <UILink :href="'https://'+user.contacts.vk" type-link="blue">
                            {{ user.contacts.vk }}
                        </UILink>
                    </div>
                </div>

                <div class="user-profile__info-block">
                    <div v-if="user.activities.checks" class="user-profile__info-block__item">
                        <UILabel>
                            Образование
                        </UILabel>
                        <span>
                            {{ user.activities.checks }}
                        </span>
                    </div>
                    <div v-if="user.activities.educationPlace" class="user-profile__info-block__item">
                        <UILabel>
                            Место учебы
                        </UILabel>
                        <span>
                            {{ user.activities.educationPlace }}
                        </span>
                    </div>
                    <div v-if="user.activities.workPlace" class="user-profile__info-block__item">
                        <UILabel>
                            Место работы
                        </UILabel>
                        <span>
                            {{ user.activities.workPlace }}
                        </span>
                    </div>
                </div>

                <div class="user-profile__info-block">
                    <div class="user-profile__info-block__item">
                        <UILabel>
                            Навыки
                        </UILabel>
                        <div class="user-profile__info-block__item__directions">

                            <template v-for="(checks, index) of user.skills.checks" :key="index">
                            <span>
                                {{ checks.name }}
                            </span>
                            </template>
                            <span v-if="user.skills.other">
                                {{ user.skills.other }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="user-profile__info-block">
                    <div class="user-profile__info-block__item">
                        <UILabel>
                            Интересуют направления
                        </UILabel>
                        <div class="user-profile__info-block__item__directions">

                            <template v-for="(direction, index) of user.directions.checks" :key="index">
                            <span>
                                {{ direction.name }}
                            </span>
                            </template>
                        </div>
                    </div>
                </div>
            </UISubstrate>
        </div>
        <!--      TODO: Добавить логику  -->
    </div>
</template>

<script>
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UIShips from '@/components/ui/UIShips.vue';
import UITitle1 from '@/components/ui/UITitle1.vue'
import UIBtn from '@/components/ui/UIBtn.vue'
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import UILabel from '@/components/ui/UILabel.vue';
import UILink from '@/components/ui/UILink.vue';

export default {
    name: 'GuestProfileuserViewPage',
    components: {
        UILink,
        UILabel,
        UITitle2,
        UISubstrate,
        AppBreadcrumbs,
        UIShips,
        UITitle1,
        UIBtn,
    },
    data() {
        return {
            user: {
                requisites: {
                    surname: 'Иванов',
                    name: 'Иван',
                    lastname: 'Иванович',
                    sex: 'male',
                    age: '25',
                },
                contacts: {
                    tel: '+7 999 02 36 55',
                    email: 'ivanov.ivan@yandex.ru',
                    vk: 'vk.com/ivanovIvan77',
                    telegram: 'ivanov.ivan77',
                },
                skills: {
                    checks: [
                        {
                            name: 'Первая помощь'
                        },
                        {
                            name: 'Поиск людей'
                        },
                        {
                            name: 'Иностранные языки'
                        }
                    ],
                    other: 'И много доругое',
                },
                activities: {
                    checks: 'Высшее бакалавриат',
                    educationPlace: 'МГУ',
                    workPlace: 'ВШЭ',
                },
                directions: {
                    checks: [
                        {
                            name: 'Здоровье и ЗОЖ'
                        },
                        {
                            name: 'Помощь пожилым'
                        },
                        {
                            name: 'Поиск пропавших'
                        },
                        {
                            name: 'Права человека'
                        },
                    ],
                },
            },
        }
    },
    methods: {
        addToFavourites() {
            console.log('addToFavourites')
        }
    }
}
</script>

<style lang="scss" scoped>
.user-profile__ships-container {
    display: flex;
    grid-gap: gridCalc(1);
}

.user-profile__main-info {
    display: flex;
    grid-gap: gridCalc(1);
    padding-top: gridCalc(2);
}

.user-profile__avatar-item {
    display: flex;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: #639AED;
    width: 55px;
    aspect-ratio: 1 / 1;
}

.user-profile__actions {
    padding-top: gridCalc(2);
    padding-right: gridCalc(8);
}

.user-profile__action--item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile__action--icon {
    padding-left: gridCalc(1);
}

.user-profile__info {
    padding-top: gridCalc(2);
}

.user-profile__info__title {
    display: flex;
    align-items: center;
}

.user-profile__info-block {
    padding-bottom: gridCalc(3);
    display: grid;
    grid-gap: gridCalc(1);
}

.user-profile__info-block:not(:nth-child(2)) {
    padding-top: gridCalc(3);
}

.user-profile__info-block:not(:last-child) {
    border-bottom: #E0E0E0 solid 1px;
}

.user-profile__info-block__item {
    display: grid;
    grid-gap: gridCalc(0.5);
    font-weight: 500;
}

.user-profile__info-block__item__directions {
    display: grid;
    grid-gap: gridCalc(1);
}

</style>
