<template>
    <div class="base-container">
        <div class="organization-questionnaire__breadcrumb">
            <AppBreadcrumbs :path="['Профиль', 'Анкета организации']"/>
        </div>
        <div class="organization-questionnaire__title">
            <UITitle1>Данные организации</UITitle1>
        </div>

        <OrganizationQuestionnaireForm :organization="ogranization" @submit:form="onSubmitOrganizationQuestionnaireForm" />

    </div>
</template>
<!--TODO: Нет логики -->
<script>
import {defineComponent} from 'vue';

import UITitle1 from '@/components/ui/UITitle1.vue';
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue'
import OrganizationQuestionnaireForm from '@/components/forms/OrganizationQuestionnaireForm.vue';

export default defineComponent({
    name: 'OrganizationQuestionnaire',
    components: {
        OrganizationQuestionnaireForm,
        UITitle1,
        AppBreadcrumbs,
    },
    data() {
        return {
            ogranization: {
                requisites: {
                    name: '123',
                    inn: '666',
                    kpp: '',
                    ogrn: '',
                    legalAddress: ''
                },
                contacts: {
                    tel: '',
                    email: '',
                    site: '',
                    vk: '',
                    telegram: '',
                },
                directions: []
            }
        }
    },
    methods: {
        onSubmitOrganizationQuestionnaireForm(form) {
            console.log(form)
        }
    }
})
</script>

<style lang="scss" scoped>
.organization-questionnaire__breadcrumb {
    padding-top: gridCalc(2);
}

.organization-questionnaire__title {
    padding-top: gridCalc(2);
}

</style>