<template>
    <div class="base-container">
        <div class="organization-profile__breadcrumb">
            <AppBreadcrumbs :path="['Профиль']"/>
        </div>
        <div class="organization-profile__ships-container">
            <UIShips is-copy text="ID: 22545" ships-type="primary"/>
            <UIShips text="Есть верификация" ships-type="success"/>
        </div>

        <div class="organization-profile__main-info">
            <div class="organization-profile__avatar">
                <div class="organization-profile__avatar-item"></div>
            </div>
            <div class="organization-profile__title">
                <UITitle1>
                    Фонд "Доброта в городе"
                </UITitle1>
            </div>
        </div>
        <div class="organization-profile__actions">
            <UIBtn btn-size="md" @click="addEvent">
                <div class="organizations-profile__action--item">
                    Добавить задание
                    <img src="@/assets/images/arrow.svg" class="organizations-profile__action--icon" alt="">
                </div>
            </UIBtn>
        </div>
        <div class="organization-profile__info">
            <div @click="$router.push('/organization/profile/edit')" class="organization-profile__dropdown">
                <UIDropdown title="Данные организации">

                </UIDropdown>
            </div>
            <div @click="$router.push('/organization/requests')" class="organization-profile__dropdown">
                <UIDropdown title="Заявки волонтеров">

                </UIDropdown>
            </div>
            <div @click="isNotReady" class="organization-profile__dropdown">
                <UIDropdown title="Мои события">

                </UIDropdown>
            </div>
            <div @click="isNotReady" class="organization-profile__dropdown">
                <UIDropdown title="Избранные волонтеры">

                </UIDropdown>
            </div>
            <!--<div class="organization-profile__recommendation">-->
            <!--    <UISubstrate>-->
            <!--        <div class="organization-profile__recommendation__title">-->
            <!--            <UITitle2>-->
            <!--                Рекомендации-->
            <!--            </UITitle2>-->
            <!--        </div>-->
            <!--        <div class="organization-profile__recommendation__slider">-->
            <!--            <UISlides>-->
            <!--                <SwiperSlide>-->
            <!--                    <UISlidesItem>Slide 1</UISlidesItem>-->
            <!--                </SwiperSlide>-->
            <!--                <SwiperSlide>-->
            <!--                    <UISlidesItem>Slide 2</UISlidesItem>-->
            <!--                </SwiperSlide>-->
            <!--                <SwiperSlide>-->
            <!--                    <UISlidesItem>Slide 3</UISlidesItem>-->
            <!--                </SwiperSlide>-->
            <!--            </UISlides>-->
            <!--        </div>-->
            <!--        <div class="organization-profile__recommendation__button">-->
            <!--            <UIBtn btn-type="secondary">-->
            <!--                Все рекомендации-->
            <!--            </UIBtn>-->
            <!--        </div>-->
            <!--    </UISubstrate>-->
            <!--</div>-->
        </div>
      <UIBtn @click="logout">Выйти</UIBtn>
    </div>
</template>

<script>
import {defineComponent} from 'vue';

import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UITitle1 from '@/components/ui/UITitle1.vue';
import UIShips from '@/components/ui/UIShips.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UIDropdown from '@/components/ui/UIDropdown.vue';
import UISlides from '@/components/ui/UISlides.vue';
import UISlidesItem from '@/components/ui/UISlidesItem.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import {SwiperSlide} from 'swiper/vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import authStorage from '@/services/authStorage';
import {useLoginStore} from '@/stores/login';


export default defineComponent({
    name: 'OrganizationProfileViewPage',
    components: {
        UISubstrate,
        UITitle2,
        UIDropdown,
        UIBtn,
        UIShips,
        AppBreadcrumbs,
        UITitle1,
        UISlides, SwiperSlide, UISlidesItem,
    },
    methods: {
        addEvent() {
            this.$router.push('/organization/quest/create')
        },
      logout() {
          localStorage.removeItem('jwt');
          localStorage.removeItem('role');
          localStorage.removeItem('id');
          useLoginStore().logout()
        this.$router.push('/')
      },
      isNotReady() {
          alert('Пока не готово. :)')
      }
    }
})
</script>

<style lang="scss" scoped>
.organization-profile__ships-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: gridCalc(1);
}

.organization-profile__main-info {
    display: flex;
    grid-gap: gridCalc(1);
    padding-top: gridCalc(2);
}

.organization-profile__title {
}

.organization-profile__avatar {

}

.organization-profile__avatar-item {
    display: flex;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: #639AED;
    width: 55px;
    aspect-ratio: 1 / 1;
}

.organization-profile__actions {
    padding-top: gridCalc(2);
    padding-right: gridCalc(15);
}
.organizations-profile__action--item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.organizations-profile__action--icon {
    padding-left: gridCalc(0.2);
}
.organization-profile__info {
    display: grid;
    grid-gap: gridCalc(1.5);
    padding-top: gridCalc(2);
    padding-bottom: gridCalc(2);
}

.organization-profile__recommendation {
    padding-top: gridCalc(2);
    overflow: hidden;
}

.organization-profile__recommendation__title {

}
.organization-profile__recommendation__slider {
    padding-top: gridCalc(2);
}

.organization-profile__recommendation__button {
    padding-top: gridCalc(2);
}
</style>