<template>
  <div class="base-container">
    <div class="volunteer-questionnaire__breadcrumb">
      <AppBreadcrumbs :path="['Профиль', 'Анкета волонтера']"/>
    </div>
    <div class="volunteer-questionnaire__title">
      <UITitle1>Анкета волонтера</UITitle1>
    </div>
    <VolunteerForm
        :form-data="formData"
        @save="onSave"
    />
  </div>
</template>

<script>
import { defineComponent } from 'vue';

import UITitle1 from '@/components/ui/UITitle1.vue';
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import VolunteerForm from '@/components/forms/VolunteerForm.vue';

export default defineComponent({
  name: 'VolunteerQuestionnaire',
  components: {
    UITitle1,
    AppBreadcrumbs,
    VolunteerForm,
  },
  data () {
    return {
      formData: {
        requisites: {
          surname:  'Данные',
          name:     'Извне',
          lastname: 'алиев',
          sex:      'male',
          age:      '25',
        },
        contacts:   {
          tel:      '1',
          email:    '1',
          site:     '1',
          vk:       '1',
          telegram: '1',
        },
        skills:     {
          checks: [],
          other:  '1',
        },
        activities: {
          checks:         ["Высшее бакалавриат","Высшее неполное","Среднее профессиональное","Среднее"],
          educationPlace: '1',
          workPlace:      '1',
        },
        directions: {
          checks: [],
        },
      },
    };
  },
  methods: {
    onSave (form) {
      this.formData = form;
    },
  },
});
</script>

<style
    lang="scss"
    scoped
>
.volunteer-questionnaire__title {
  padding-bottom: gridCalc(2);
}
</style>