<template>
    <div class="base-container">
        <div class="user-profile__breadcrumb">
            <AppBreadcrumbs :path="['Профиль']"/>
        </div>
        <div class="user-profile__ships-container">
            <UIShips is-copy text="ID: 22545" ships-type="primary"/>
            <UIShips text="Есть верификация" ships-type="success"/>
        </div>

        <div class="user-profile__main-info">
            <div class="user-profile__avatar">
                <div class="user-profile__avatar-item"></div>
            </div>
            <div class="user-profile__title">
                <UITitle1>
                    Иванов Иван
                </UITitle1>
            </div>
        </div>
        <div class="user-profile__statistic">
            <UserStatisticWidget is-lvl-up exp="1000" />
        </div>
        <div class="user-profile__info">
            <div @click="$router.push('/volunteer/profile/edit')" class="user-profile__dropdown">
                <UIDropdown title="Анкета волонтера">

                </UIDropdown>
            </div>
            <div @click="$router.push('/volunteer/profile/requests')" class="user-profile__dropdown">
                <UIDropdown title="Мои заявки">

                </UIDropdown>
            </div>
            <div @click="isNotReady" class="user-profile__dropdown">
                <UIDropdown title="Мои события">

                </UIDropdown>
            </div>
            <div @click="isNotReady" class="user-profile__dropdown">
                <UIDropdown title="Избранные события">

                </UIDropdown>
            </div>
            <div @click="isNotReady" class="user-profile__dropdown">
                <UIDropdown title="Избранные организации">

                </UIDropdown>
            </div>
            <div class="user-profile__recommendation">
                <UISubstrate>
                    <div class="user-profile__recommendation__title">
                        <UITitle2>
                            Рекомендации
                        </UITitle2>
                    </div>
                    <!--<div class="user-profile__recommendation__slider">-->
                    <!--    <UISlides>-->
                    <!--        <SwiperSlide>-->
                    <!--            <UISlidesItem>Slide 1</UISlidesItem>-->
                    <!--        </SwiperSlide>-->
                    <!--        <SwiperSlide>-->
                    <!--            <UISlidesItem>Slide 2</UISlidesItem>-->
                    <!--        </SwiperSlide>-->
                    <!--        <SwiperSlide>-->
                    <!--            <UISlidesItem>Slide 3</UISlidesItem>-->
                    <!--        </SwiperSlide>-->
                    <!--    </UISlides>-->
                    <!--</div>-->
                    <!--<div class="user-profile__recommendation__button">-->
                    <!--    <UIBtn btn-type="secondary">-->
                    <!--        Все рекомендации-->
                    <!--    </UIBtn>-->
                    <!--</div>-->
                </UISubstrate>
            </div>
        </div>
      <div class="user-profile__logout">
        <UIBtn @click="logout">Выйти</UIBtn>
      </div>
    </div>
</template>

<script>
import {defineComponent} from 'vue';

import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UITitle1 from '@/components/ui/UITitle1.vue';
import UIShips from '@/components/ui/UIShips.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UIDropdown from '@/components/ui/UIDropdown.vue';
import UISlides from '@/components/ui/UISlides.vue';
import UISlidesItem from '@/components/ui/UISlidesItem.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import {SwiperSlide} from 'swiper/vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UserStatisticWidget from '@/components/widgets/UserStatisticWidget.vue';
import {useLoginStore} from "@/stores/login";


export default defineComponent({
    name: 'VolunteerProfileViewPage',
    components: {
        UserStatisticWidget,
        UISubstrate,
        UITitle2,
        UIDropdown,
        UIBtn,
        UIShips,
        AppBreadcrumbs,
        UITitle1,
        UISlides, SwiperSlide, UISlidesItem,
    },
    methods: {
        addEvent() {
            console.log('Событие добавления события')
        },
      isNotReady() {
        alert('Пока не готово. :)')
      },
      logout() {
          localStorage.removeItem('jwt');
          localStorage.removeItem('role');
          localStorage.removeItem('id');
          useLoginStore().logout()
          this.$router.push('/')
      }
    }
})
</script>
<style lang="scss" scoped>
.user-profile__ships-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: gridCalc(1);
}

.user-profile__main-info {
    display: flex;
    grid-gap: gridCalc(1);
    padding-top: gridCalc(2);
}

.user-profile__title {
    display: flex;
    align-items: center;
}

.user-profile__avatar {

}

.user-profile__avatar-item {
    display: flex;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: #639AED;
    width: 55px;
    aspect-ratio: 1 / 1;
}

.user-profile__statistic {
    padding-top: gridCalc(2);
}

.user-profile__info {
    display: grid;
    grid-gap: gridCalc(1.5);
    padding-top: gridCalc(2);
}

.user-profile__recommendation {
    padding-top: gridCalc(2);
    overflow: hidden;
}

.user-profile__logout {
  margin-top: gridCalc(2);
}

.user-profile__recommendation__slider {
    padding-top: gridCalc(2);
}

.user-profile__recommendation__button {
    padding-top: gridCalc(2);
}
</style>