<template>
  <div class="register-page">
    <div class="base-container">
      <div>
        <AppBreadcrumbs :path="['Профиль', 'Регистрация', 'Организатор']"/>
      </div>
      <UITitle1 class="register-page__title">Регистрация организатора</UITitle1>
      <div>
        <OrganizationRegistrationForm :isLoad="isLoad" @submit:form="onSubmitRegisterForm"/>
      </div>
    </div>
  </div>
</template>
<script>
import { defineComponent } from 'vue';

import UITitle1 from '@/components/ui/UITitle1.vue';
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import OrganizationRegistrationForm from '@/components/forms/OrganizationRegistrationForm.vue';

import RegisterAPI from '@/api/register';
import {getEmitter} from '@/services/emitter';
import {useLoginStore} from '@/stores/login';

const emitter = getEmitter();
const registerApi = new RegisterAPI(emitter);

export default defineComponent({
  name: 'RegisterOrganizationPage',
  components: {
    UITitle1,
    OrganizationRegistrationForm,
    AppBreadcrumbs
  },
  data() {
    return {
      isLoad: false,
    }
  },
  methods: {
    async onSubmitRegisterForm(form) {
      this.isLoad = true;
      const isSuccess = await registerApi.registerOrganization(form);
      this.isLoad = false;

      if (isSuccess) {
          useLoginStore().login('organization')
        this.$router.push({ name: 'organization-start'});
      }
    },
  },
})
</script>

<style lang="scss" scoped>
.register-page__title {
  margin-bottom: gridCalc(2);
}
</style>
