<template>
  <div class="community-widget">
      <div class="community-widget__title">Сообщество</div>

     <div class="community-widget__slider">
        <UISlides>
          <SwiperSlide v-for="i in 5" :key="i">
            <UISlidesItem>
              <BaseQuestCard :quest="quest"></BaseQuestCard>
            </UISlidesItem>
          </SwiperSlide>
        </UISlides>
      </div>

      <div class="community-widget__button">
        <UIBtn
            btn-size="md"
            btn-type="secondary"
            @click="$router.push('/volunteer/quests')"
        >Все события</UIBtn>
      </div>
  </div>
</template>

<script>
import UIBtn from '@/components/ui/UIBtn.vue';
import UISlides from '@/components/ui/UISlides.vue';
import UISlidesItem from '@/components/ui/UISlidesItem.vue';
import {SwiperSlide} from 'swiper/vue';
import BaseQuestCard from '@/components/base/BaseQuestCard.vue';


export default {
  name: 'CommunityWidget',
  components: {
    BaseQuestCard,
    UIBtn,
    UISlides,
    UISlidesItem,
    SwiperSlide,
  },
  data(){
    return {
      quest: {
        id: 123,
        organizationId: 456,
        name: 'Субботник в Парке культуры и отдыха им. Маяковского',
        description: '',
        img: '',
        startDate: '29.06.2022',
        endDate: '30.06.2022',
        rewardCoins: '',
        rewardExp: '',
      }
    };
  },
};
</script>

<style lang="scss" scoped>
.community-widget__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.community-widget__slider {
  --custom-slide-aspect-ratio: none;
  --custom-slide-border: none;

  margin-top: gridCalc(3);
}

.community-widget__button {
  margin-top: gridCalc(2);
}
</style>
