<template>
  <div class="community-widget">
      <div class="community-widget__title">Журнал</div>
      <!--TODO: Доделать слайдер -->
      <div class="community-widget__slider">
        <div class="community-widget__slider-images">

        </div>

        <div class="community-widget__slider-dots">
          <div class="community-widget__slider-dot"></div>
        </div>
      </div>
  </div>
</template>

<script>
import UIBtn from '@/components/ui/UIBtn.vue';
export default {
  name: 'JournalWidget',
};
</script>

<style lang="scss" scoped>
.community-widget__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.community-widget__slider-images {
  height: 94px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  margin-top: var(--grid-gutter);
}

.community-widget__slider-dots {
  height: 8px;
}

.community-widget__slider-dot {
  content: '\00B7';
  height:  8px;
  width: 8px;
}
</style>