<template>
  <div class="community-widget">
    <div class="community-widget__title">Сообщество</div>

    <div class="community-widget__tabs">
      <UITab
          v-for="(tab, index) in searchTabs"
          :key="index"
          style="margin-right: 4px;"
          :is-active="activeTab.name === tab.name"
          @click="activeTab = tab"
      >
        {{ tab.name }}
      </UITab>

    </div>

    <div class="community-widget__search">
      <div v-for="i in 5" :key="i" class="community-widget__search-images">
        {{ activeTab.name }}
      </div>
    </div>
    <div class="community-widget__button">
      <UIBtn
          btn-size="md"
          btn-type="secondary"
          to="/register/organization"
      >Все волонтеры</UIBtn>
    </div>
  </div>
</template>

<script>
import UIBtn from '@/components/ui/UIBtn.vue';
import UITab from '@/components/ui/UITab.vue';

export default {
  name:       'SearchWidget',
  data() {
    return {
      searchTabs: [{
        name: 'Волонтеры',
      }, {
        name: 'Организаторы',
      }],
      activeTab: {
        name: 'Волонтеры',
      },
    }
  },
  components: {
    UIBtn,
    UITab
  },
};
</script>

<style
    lang="scss"
    scoped
>
.community-widget__title {
  font-weight: 600;
  font-size:   18px;
  line-height: 22px;
}

.community-widget__search-images {
  height:        94px;
  border:        1px solid #E0E0E0;
  border-radius: 10px;
  margin-bottom: calc(var(--grid-gutter) * 2);
  margin-top:    var(--grid-gutter);
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-widget__tabs {
  padding-top: calc(var(--grid-gutter) * 2);
}

.community-widget__search-dots {
  height: 8px;
}

.community-widget__search-dot {
  content: '\00B7';
  height:  8px;
  width:   8px;
}
</style>
