<template>
    <UISubstrate>
        <div class="user-statistic__experience">
            <div class="user-statistic__experience-title">
                <VolunteerLvl :lvl="lvl" size="lg"/>
            </div>
            <div class="user-statistic__experience-progress">
                <UIProgress :progress="progress">
                </UIProgress>
            </div>
        </div>
        <div class="user-statistic__link">
            <div class="user-statistic__awards">
                <UILink type-link="blue" size="sm">
                    <img src="@/assets/images/awards.svg" class="user-statistic__icon" alt="">
                    Награды
                </UILink>
            </div>
            <div class="user-statistic__dobro">
                <UILink type-link="blue" size="sm">
                    <img src="@/assets/images/dobrocoin.svg" class="user-statistic__icon" alt="">
                    <!--                    TODO: Добавить иконку и ссылку-->
                    15 доброкоинов
                </UILink>
            </div>
        </div>
    </UISubstrate>
</template>

<script>
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UIProgress from '@/components/ui/UIProgress.vue';
import UILink from '@/components/ui/UILink.vue';
import VolunteerLvl from '@/components/stuff/VolunteerLvl.vue';

import generateLvl from '@/services/lvlGenerator'

export default {
  name: 'UserStatisticWidget',
  components: {
    VolunteerLvl,
    UIProgress,
    UISubstrate,
    UILink,
  },
  data( ){
    return {
      progress: 30,
    }
  },
  props: {
    exp: {
      type: Number,
    },
    isLvlUp: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    lvl() {
      return generateLvl(this.exp);
    },
  },
  methods: {
    lvlup() {
      alert('Организатор подтвердил ваше участие в мероприятии!')
      this.progress = 90
    }
  },
  mounted () {
    if(this.isLvlUp) {
      setTimeout(this.lvlup, 3000)
    }
  }
}
</script>

<style lang="scss" scoped>

.user-statistic__experience-progress {
    padding-top: gridCalc(2);
}
.user-statistic__link {
    display: flex;
    justify-content: space-between;
    padding-top: gridCalc(2);
}
.user-statistic__icon {
    padding-right: gridCalc(1);
}
</style>
