<template>
    <div class="base-container">
        <AppBreadcrumbs :path="['Профиль', 'Организатор','Добавление задания']"/>
        <UITitle1 class="organization-quest-create__title">Добавление задания</UITitle1>

        <OrganizationQuestForm  :isLoad="isLoad" @submit:form="onSubmitOrganizationQuestForm" />
    </div>
</template>

<script>
import AppBreadcrumbs from '@/components/ui/AppBreadcrumbs.vue';
import UITitle1 from '@/components/ui/UITitle1.vue';
import OrganizationQuestForm from '@/components/forms/OrganizationQuestForm.vue';
import {getEmitter} from '@/services/emitter';
import QuestApi from '@/api/quests';


const emitter = getEmitter();
const questApi = new QuestApi(emitter);

export default {
    name: 'OrganizationQuestAddPage',
    components: {OrganizationQuestForm, AppBreadcrumbs, UITitle1},
    methods: {
        async onSubmitOrganizationQuestForm(form) {
            this.isLoad = true;
            console.log(form)
            const isSuccess = await questApi.create(form);
            this.isLoad = false;

            if (isSuccess) {
                this.$router.back()
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.organization-quest-create__title {
    padding-bottom: gridCalc(2);
}
</style>