<template>
  <div class="base-container">
    <div class="home-page">
      <div class="home-page__title">
        Присоединяйся к волонтерскому движению Москвы
      </div>

      <div class="home-page__heading">
        <UIBtn
            btn-size="md"
            @click="$router.push('/register/volunteer')"
        >Стать волонтером</UIBtn>
        <UIBtn
            btn-size="md"
            btn-type="blue"
            @click="$router.push('/register/organization')"
        >Стать организатором</UIBtn>
        <div class="home-page__heading-or-text">или</div>

        <!--TODO: Синяя кнопка-->
        <UIBtn
            btn-size="md"
            btn-type="text--outlined"
            @click="$router.push('/auth')"
        >Войти</UIBtn>
        <div class="home-page__heading-image">
          <img
              src="@/assets/images/hands.png"
              alt=""
          >
        </div>
      </div>
    </div>
  </div>

  <div class="base-container">
    <div class="home-page__widgets">
      <UISubstrate theme="secondary">
        <SearchForm @form:search="onSearch"/>
      </UISubstrate>
      <UISubstrate>
        <CommunityWidget/>
      </UISubstrate>
    </div>
  </div>
</template>

<script>
import UIBtn from '@/components/ui/UIBtn.vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import CommunityWidget from '@/components/widgets/CommunityWidget.vue';
import SearchForm from '@/components/forms/SearchForm.vue';

export default {
  name: 'HomePage',
  components: { UIBtn, UISubstrate, CommunityWidget, SearchForm},
  data() {
    return {
      type: 'quests',
    };
  },
  methods: {
    onSearch(type) {
      this.$router.push({ name: `${type}-search`})
    }
  }
}
</script>

<style lang="scss" scoped>

.home-page {
  background: #E9F3F2;
  margin-left: -16px;
  margin-right: -16px;
}

.home-page__title {
  padding-top: calc(var(--grid-gutter) * 3);
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
}

.home-page__heading {
  padding-top: calc(var(--grid-gutter) * 4);
  display: grid;
  grid-gap: calc(var(--grid-gutter) * 2);
  padding-left: 16px;
  padding-right: 16px;
}

.home-page__heading-or-text {
  text-align: center;
}

.home-page__heading-image img {
  max-width: 100%;
  height: 100%;
}

.home-page__widgets {
  padding: calc(var(--grid-gutter) * 3) var(--grid-gutter)  calc(var(--grid-gutter) * 3) var(--grid-gutter);
  display: grid;
  grid-gap:  calc(var(--grid-gutter) * 2);
  margin-left: -16px;
  margin-right: -16px;
}
</style>
