<template>
  <div class="base-container">
    <hr>
    <SquareTagItem type="1"/>
    <SquareTagList :types="[1, 2, 5, 6, 8]"/>
    <SquareTagList :types="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]"/>
    <SquareTagList :types="[1, 2, 5, 6, 8]" :max="3"/>
    <br>
    
    <hr>
    <UIBtn>Отправить</UIBtn>

    <hr>
    <UIInput />

    <hr>
    <UIRadio name="ui-page-ui-radio" v-model="uiRadioValue" checked value="1">Вариант 1</UIRadio>
    <UIRadio name="ui-page-ui-radio" v-model="uiRadioValue" value="2">Вариант 2</UIRadio>
    <br>
    Выбранный вариант: {{ uiRadioValue }}

    <br>
    <hr>
    <UICheckbox name="ui-page-ui-checkbox" :value="1" v-model="uiCheckoutArr">Вариант 1</UICheckbox>
    <UICheckbox name="ui-page-ui-checkbox" value="2" v-model="uiCheckoutArr">Вариант 2</UICheckbox>
    <UICheckbox name="ui-page-ui-checkbox" :value="3" v-model="uiCheckoutArr">Вариант 3</UICheckbox>
    <br>
    Выбранный вариант: {{ uiCheckoutArr }}

    <br>
    <hr>
    <UICheckbox name="ui-page-ui-checkbox" :value="1" v-model="uiCheckoutBoolean">Согласие</UICheckbox>
    <br>
    Выбранный вариант: {{ uiCheckoutBoolean }}

    <br>
    <hr>
    <UISlides>
      <SwiperSlide><UISlidesItem>Slide 1</UISlidesItem></SwiperSlide>
      <SwiperSlide><UISlidesItem>Slide 2</UISlidesItem></SwiperSlide>
      <SwiperSlide><UISlidesItem>Slide 3</UISlidesItem></SwiperSlide>
    </UISlides>
    <br>

    <UIShips ships-type="primary" is-copy text="ID: 53065333" />
    <UIShips ships-type="success" text="Свободен" />
    <UIShips ships-type="error" text="Занят" />
    <UIShips ships-type="warning" text="Частично занят" />


    <br>
    <hr>
      <BaseQuestCard :quest="quest"/>
    <br>
  </div>
</template>

<script>
import UIBtn      from '../components/ui/UIBtn.vue';
import UIInput    from '../components/ui/UIInput.vue';
import UIRadio    from '@/components/ui/UIRadio.vue';
import UICheckbox from '@/components/ui/UICheckbox.vue';
import UIShips    from '@/components/ui/UIShips.vue';
import UISlides     from '@/components/ui/UISlides.vue';
import UISlidesItem from '@/components/ui/UISlidesItem.vue';
import BaseQuestCard from '@/components/base/BaseQuestCard.vue';
import SquareTagItem from '@/components/common/SquareTag/SquareTagItem.vue';
import SquareTagList from '@/components/common/SquareTag/SquareTagList.vue';

import { SwiperSlide } from 'swiper/vue';

export default {
  name: 'UiPage',
  components: {
    SquareTagList,
    BaseQuestCard,
    UICheckbox, UIRadio, UIInput, UIBtn, UIShips,
    UISlides, SwiperSlide, UISlidesItem, SquareTagItem,
  },
  props: {
    propName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      uiRadioValue: '',
      uiCheckoutArr: [1, '2'],
      uiCheckoutBoolean: true,
      quest: {
        id: 123,
        organizationId: 456,
        name: 'Субботник в Парке культуры и отдыха им. Маяковского',
        description: '',
        img: '',
        startDate: '29.06.2022',
        endDate: '30.06.2022',
        rewardCoins: '',
        rewardExp: '',
      }
    };
  },
}
</script>

<style scoped lang="scss">
</style>
