<template>
  <div class="quest">
    <img class="quest__image" :src="questImg" alt="">
    <div class="quest__info">
      <h5 class="quest__title">{{ quest.name }}</h5>
      <p class="quest__organization">Фонд “Доброта в городе”</p>
        <slot></slot>
      <span class="quest__date">
        {{ quest.startDate }} - {{ quest.endDate }}
      </span>

    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseQuestCard',
  props: {
    quest: {
      type: Object, // interface Quest from rpc-types.ts
      required: true,
    }
  },
  data() {
    return {
      defaultImg: '/assets/images/quest-img-default.png',
    }
  },
  computed: {
    questImg() {
      return this.quest?.img || this.defaultImg;
    }
  }
}
</script>

<style lang="scss" scoped>
.quest {
  display: flex;
  gap: gridCalc(1);
}
.quest__image {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.quest__info {
  display: flex;
  flex-direction: column;
}

.quest__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  margin: 0;
}

.quest__organization {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #818C99;
  margin: gridCalc(0.5, 0, 0);
}

.quest__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #000000;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: gridCalc(1, 0, 0);

  &:before {
    content: '';
    display: block;
    width: 10px;
    height: 11px;
    margin-right: gridCalc(1);
    background: url("data:image/svg+xml,%3Csvg width='10' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 2.2V9.9c0 .6.5 1.1 1.1 1.1h7.7c.6 0 1.1-.5 1.1-1.1V2.2c0-.6-.5-1.1-1.1-1.1H7.7V0H6.6v1.1H3.3V0H2.2v1.1H1.1C.5 1.1 0 1.6 0 2.2Zm8.8 7.7H1.1V3.3h7.7v6.6Z' fill='%233F8AE0'/%3E%3C/svg%3E") no-repeat center / contain;
  }
}
</style>
