<template>
  <div class="volunteer">
    <img class="volunteer__image" :src="questImg" alt="">
    <div class="volunteer__info">
      <h5 class="volunteer__title">{{ volunteer.name || name }}</h5>
      <div class="volunteer__status">
        <UserAvailableStatus exp="1000" :status="volunteer.status"/>
        <span class="volunteer__year">Возраст: {{ volunteer.year || '-/-' }}</span>
      </div>
      <div class="volunteer__more-info">
        <slot></slot>
      </div>
      <div class="volunteer__lvl">
        <VolunteerLvl :lvl="lvl"/>
      </div>
    </div>
  </div>
</template>

<script>
import VolunteerLvl from '@/components/stuff/VolunteerLvl.vue';
import UserAvailableStatus from '@/components/stuff/UserAvailableStatus.vue';
import lvlGenerator from '@/services/lvlGenerator';

export default {
  name: 'BaseVolunteerCard',
  props: {
    volunteer: {
      type: Object,
      required: true,
    }
  },
  data() {
    return {
      defaultImg: '/assets/images/quest-img-default.png',
    }
  },
  components: {
    VolunteerLvl,
    UserAvailableStatus,
  },
  computed: {
    questImg() {
      return this.volunteer.img || this.defaultImg;
    },
    name() {
      return [this.volunteer.first_name, this.volunteer.last_name].join(' ')
    },
    lvl() {
      if (this.volunteer?.exp) {
        return lvlGenerator(this.volunteer?.exp)
      }
      return 1;
    }
  }
}
</script>

<style lang="scss" scoped>
.volunteer {
  display: flex;
  gap: gridCalc(1);
}

.volunteer__image {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.volunteer__info {
  display: flex;
  flex-direction: column;
}

.volunteer__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  margin: 0;
  padding-right: gridCalc(3);
}

.volunteer__status {
  display: flex;
  grid-gap: gridCalc(1);
  margin-top: gridCalc(1);
}

.volunteer__year {
  font-size: 12px;
  color: #818C99;
}

.volunteer__lvl {
  margin-top: gridCalc(1);
}

.volunteer__more-info {
  margin-top: gridCalc(1);
}
</style>
