<template>
  <span class="loader"></span>
</template>

<script>
export default {
  name: 'BaseLoader',
};
</script>

<style scoped lang="scss">
.loader {
  --loader-position: var(--custom-loader-position, relative);
  --loader-size: var(--custom-loader-size, #{gridCalc(4)});
  --loader-duration: var(--custom-loader-duration, 0.5s);
  --loader-function: var(--custom-loader-function, ease-in-out);
  --loader-border-width: var(--custom-loader-border-width, 2px);
  --loader-border-color: var(--custom-loader-border-color, var(--primary));
  --loader-border: var(--loader-border-width) solid var(--loader-border-color);

  --loader-before-width: var(--custom-loader-before-width, 100%);
  --loader-before-height: var(--custom-loader-before-height, 100%);
  --loader-before-background: var(--custom-loader-before-background, rgba(255, 255, 255, 0.4));
  --loader-before-border-radius: var(--custom-loader-before-border-radius, 0);

  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--loader-before-width);
    height: var(--loader-before-height);
    background: var(--loader-before-background);
    border-radius: var(--loader-before-border-radius);
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: var(--loader-size);
    height: var(--loader-size);
    border: var(--loader-border);
    border-bottom-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation-name: rotation;
    animation-duration: var(--loader-duration);
    animation-iteration-count: infinite;
    animation-timing-function: var(--loader-function);
  }
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

</style>
