<template>
  <div class="base-container volunteer-recommendations">
    <h2 class="volunteer-recommendations__heading">Это страница с рекомендациями организаций</h2>
    <h3 class="volunteer-recommendations__heading">Она скоро будет, возвращайтесь!</h3>
  </div>
</template>

<style lang="scss" scoped>
.volunteer-recommendations {
  margin-top: gridCalc(2);
}
.volunteer-recommendations__heading {
  text-align: center;
}
</style>
