<template>
  <div class="base-container">
    <div class="organization-start-page">
      <div class="organization-start-page-recommendations">
        <UISubstrate>
          <UITitle2>Рекомендации</UITitle2>
          <div class="organization-start-page__slider">
            <UISlides>
              <SwiperSlide v-for="volunteer in volunteers" :key="volunteer.id">
                <UISlidesItem>
                  <BaseVolunteerCard :volunteer="volunteer"/>
                </UISlidesItem>
              </SwiperSlide>
            </UISlides>
          </div>
          <div class="organization-start-page__actions">
            <UIBtn @click="$router.push('/organization/recommendations')" btn-type="secondary">Все рекомендации</UIBtn>
          </div>
        </UISubstrate>
      </div>
      <div class="organization-start-search">
        <UISubstrate>
          <UITitle2>Заявки волонтеров</UITitle2>
          <div class="organization-start-search-block">
            <div
                v-for="volunteer in volunteers"
                :key="volunteer.id"
            >
                <BaseVolunteerCard :volunteer="volunteer"/>
            </div>
            <UIBtn @click="$router.push('/organization/requests')" btn-type="secondary">Все волонтеры</UIBtn>
          </div>
        </UISubstrate>
      </div>
      <div class="organization-start-journal">
        <UISubstrate>
          <UITitle2>Журнал</UITitle2>
          <div class="organization-start-journal-block">
            <BaseQuestCard :key="item.id" v-for="item in journal" :quest="item"></BaseQuestCard>
            <UIBtn @click="isNotReady" btn-type="secondary">Все мероприятия</UIBtn>
          </div>
        </UISubstrate>
      </div>
    </div>
  </div>
</template>
<script>
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UISlides from '@/components/ui/UISlides.vue';
import UISlidesItem from '@/components/ui/UISlidesItem.vue';
import { SwiperSlide } from 'swiper/vue';
import BaseQuestCard from '@/components/base/BaseQuestCard.vue';
import BaseVolunteerCard from '@/components/base/BaseVolunteerCard.vue';
import { volunteerProfileMock } from '@/mocks';


export default {
  name: 'OrganizationStartPage',
  components: {
    UISubstrate,
    UITitle2,
    UIBtn,
    UISlides,
    UISlidesItem,
    SwiperSlide,
    BaseQuestCard,
    BaseVolunteerCard
  },
  data() {
    return {
      user: {
        id: 123,
        organizationId: 456,
        name: 'Иванов Иван Вячеславович',
        description: '',
        img: '',
        startDate: '29.06.2022',
        endDate: '30.06.2022',
        rewardCoins: '',
        rewardExp: '',
      },
      volunteers: [volunteerProfileMock,volunteerProfileMock,volunteerProfileMock,volunteerProfileMock,volunteerProfileMock],
      quest: {
        id: 123,
        organizationId: 456,
        name: 'Субботник в Парке культуры и отдыха им. Маяковского',
        description: '',
        img: '',
        startDate: '29.06.2022',
        endDate: '30.06.2022',
        rewardCoins: '',
        rewardExp: '',
      },
      journal: [{
        id: 123,
        organizationId: 456,
        name: 'Субботник в Парке культуры и отдыха им. Маяковского',
        description: '',
        img: '',
        startDate: '29.06.2022',
        endDate: '30.06.2022',
        rewardCoins: '',
        rewardExp: '',
      }],
    }
  },
  methods: {
    isNotReady() {
      alert('Пока не готово. :)')
    },
  }
}
</script>

<style lang="scss" scoped>
.organization-start-page {
  margin-top: gridCalc(3);
}

.organization-start-page__slider {
  --custom-slide-aspect-ratio: none;
  --custom-slide-border: none;

  margin-top: gridCalc(3);
}

.organization-start-page__actions {
  margin-top: gridCalc(2);
}
.organization-start-search {
  margin-top: gridCalc(2);
}
.organization-start-journal {
  margin-top: gridCalc(2);
}

.organization-start-journal-block {
  margin-top: gridCalc(2);
  display: grid;
  gap: gridCalc(2);
}

.organization-start-search-block {
  margin-top: gridCalc(2);
  display: grid;
  gap: gridCalc(2);
}
</style>
