<template>
    <div class="header-component">
        <div class="header-component__wrapper">
            <!--<div @click="onBurgerClick" class="header-component__button">-->
            <!--    <img-->
            <!--            src="@/assets/images/burger-button.svg"-->
            <!--            alt="Открыть меню"-->
            <!--    >-->
            <!--</div>-->
            <div @click="$router.push('/')" class="header-component__logotype">
                <img
                        src="@/assets/images/logotype.svg"
                        alt="Доброхот Логотип"
                >
            </div>
            <div v-if="isLogin" @click="$router.push(`/${role}/profile`)" class="header-component__account">
                <UIAvatar></UIAvatar>
            </div>

            <div v-else-if="!isLogin" @click="$router.push('/auth')" class="header-component__account">
                <svg class="header-component__account-icon">
                    <use xlink:href="@/assets/images/smile.svg#smile"></use>
                </svg>
            </div>

        </div>
    </div>
</template>

<script>
import {useLoginStore} from '@/stores/login';
import UIAvatar from '@/components/ui/UIAvatar.vue';

export default {
    name: 'HeaderComponent',
    components: {UIAvatar},
    methods: {
        onBurgerClick() {
            console.log('Раскрылась менюха');
        }
    },
    computed: {
        isLogin: function () {
            return useLoginStore().isLogin
        },
        role: function () {
            return useLoginStore().role
        }
    }
};
</script>

<style lang="scss" scoped>
.header-component {
    --header-height: 64px;

    height: var(--header-height);
    background: #00B68A;

    &__wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        grid-gap: 26px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.header-component__logotype {
    cursor: pointer;
}

.header-component__button {
    cursor: pointer;
}

.header-component__account {
    --color-icon: #ffffff;
    cursor: pointer;
    margin-left: auto;
    &:hover {
        --color-icon: #D8F8F0;
    }
    &-icon {
        width: 24px;
        height: 24px;
        color: var(--color-icon);
    }
}

</style>