<template>
  <div></div>
</template>
<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'AppNotifications',
  methods: {
    onPush({ msg }) {
      alert(msg);
    },
  },
  mounted() {
    this.emitter.on('notification:push', this.onPush)
  }
})
</script>
