<template>
  <BaseLayout/>
  <AppNotifications />
</template>

<script>
import { defineComponent } from 'vue';

import BaseLayout from '@/layouts/BaseLayout.vue'

import AppNotifications from '@/assets/AppNotifications.vue';

export default defineComponent({
  name: 'App',
  components: {
    BaseLayout,
    AppNotifications,
  }
})

</script>

<style lang="scss">
@import '@/assets/scss/global.scss';
</style>
