<template>
  <div>
    <HeaderComponent/>
    <main class="base-layout">
      <RouterView />
    </main>
    <div id="bottom-bar" class="base-layout__bottom-bar"></div>
  </div>
</template>

<script>
import HeaderComponent from '@/components/HeaderComponent.vue';

export default {
  name: 'BaseLayout',
  components: {
    HeaderComponent,
  }
}
</script>

<style lang="scss" scoped>
.base-layout {
  background: #F7F8FF;
  min-height: calc(100vh - 64px);
  padding-top: 1px;
}

.base-layout__bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
</style>
