<template>
  <div class="app-breadcrumbs">
    {{ breadcrumb }}
  </div>
</template>

<script>
export default {
  name: 'AppBreadcrumbs',
  computed: {
    breadcrumb() {
      return this.path.join(' / ')
    }
  },
  props: {
    path: {
      type: Array,
      default: () => [], //['Профиль', 'Анкета волонтера']
    }
  }
};
</script>

<style lang="scss" scoped>
.app-breadcrumbs {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #A7A7A7;
  padding: gridCalc(2, 0);
}
</style>
