<template>
    <div class="ui-avatar">
        <img :src="src ? src : '/assets/images/avatar-temp.svg'" class="ui-avatar__item" alt="avatar">
        <svg class="ui-avatar__state" width="11" height="11" viewBox="0 0 11 11" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <rect width="11" height="11" rx="5.5" fill="white"/>
            <rect x="1.57153" y="1.57129" width="7.85714" height="7.85714" rx="3.92857" fill="#71DD37"/>
        </svg>
    </div>
</template>

<script>
export default {
    name: 'UIAvatar',
    props: {
        src: {
            type: String,
            default: null
        },
    }
}
</script>

<style lang="scss" scoped>
.ui-avatar {
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    border-radius: 9999px;
}

.ui-avatar__item {

}

.ui-avatar__state {
    position: absolute;
}
</style>