<template>
  <button class="ui-btn" :class="{
    [`ui-btn--${btnType}`]: btnType,
    [`ui-btn--${btnSize}`]: btnSize,
    [`ui-btn--loading`]: isLoad,
  }"
    @click="onClick"
  >
    <slot/>

    <span v-if="isLoad" class="ui-btn__loader">
      <BaseLoader/>
    </span>
  </button>
</template>

<script>
import BaseLoader from '@/components/base/BaseLoader.vue';
export default {
  name: 'UIBtn',
  components: { BaseLoader },
  props: {
    isLoad: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: 'ОК',
    },
    btnType: {
      type: String,
      default: 'primary' // 'primary' ||  'blue' || 'secondary' || 'text' || text--outlined
    },
    btnSize: {
      type: String,
      default: 'lg', // 'sm' || 'md' || 'lg'
    }
  },
  methods: {
    onClick(event) {
      if (this.isLoad) {
        event.preventDefault();
        return;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.ui-btn {
  --btn-height: 32px;
  --bg-color: var(--primary);
  --text-color: white;
  --outline-color: #A1E4D4;
  --border-radius: 10px;

  position: relative;
  border-radius: var(--border-radius);
  border: 0;

  font-size: 14px;
  padding: var(--grid-gutter) calc(var(--grid-gutter) * 2);
  height: var(--btn-height);
  width: 100%;

  background-color: var(--bg-color);
  color: var(--text-color);
  outline-color: var(--outline-color);

  &--sm {
    --btn-height: 32px;
  }

  &--md {
    --btn-height: 40px;
    font-size: 16px;
  }

  &--lg {
    --btn-height: 48px;
    font-size: 16px;
  }

  &--primary:not([class*="loading"]) {
    &:hover {
      --bg-color: #04CD9D;
    }

    &:active {
      --bg-color: #02AB78;
    }

    &:focus {
      --bg-color: #00B68A;
      outline: 3px solid var(--outline-color);
    }

    &:disabled {
      --bg-color: #F5F5F5;
      --text-color: #C2C2C2;
    }
  }

  &--blue:not([class*="loading"]) {

    --bg-color: #639AED;

    &:hover {
      --bg-color: #04CD9D;
    }

    &:active {
      --bg-color: #02AB78;
    }

    &:focus {
      --bg-color: #00B68A;
      outline: 3px solid var(--outline-color);
    }

    &:disabled {
      --bg-color: #F5F5F5;
      --text-color: #C2C2C2;
    }
  }

  &--secondary:not([class*="loading"]) {
    --bg-color: var(--secondary);
    --text-color: var(--green-btn-text);

    &:hover {
      --text-color: #04CD9D;
    }

    &:active {
      --text-color: #02AB78;
      --bg-color: #D8F8F0;
    }

    &:focus {
      --text-color: #00B68A;
      outline: 1px solid #A1E4D4;
    }

    &:disabled {
      --bg-color: #F5F5F5;
      --text-color: #C2C2C2;
    }
  }

  &--text:not([class*="loading"]) {
    --bg-color: transparent;
    --text-color: var(--green-btn-text);

    &:hover {
      --text-color: #04CD9D;
    }

    &:active {
      --text-color: #02AB78;
    }

    &:focus {
      --text-color: #00B68A;
      outline: 1px solid #A1E4D4;
    }

    &:disabled {
      --text-color: #C2C2C2;
      --bg-color: transparent;
    }
  }

  &--text--outlined:not([class*="loading"]) {
    --bg-color: transparent;
    --text-color: var(--green-btn-text);
    outline: 1px solid #00B68A;

    &:hover {
      --text-color: #04CD9D;
      outline: 1px solid #04CD9D;;
    }

    &:active {
      --text-color: #02AB78;
      outline: 1px solid #02AB78;
    }

    &:focus {
      --text-color: #00B68A;
      outline: 3px solid #A1E4D4;
    }

    &:disabled {
      --text-color: #C2C2C2;
      --bg-color: #F5F5F5;
      outline: 3px solid #E0E0E0;;
    }
  }

  &__loader {
    --custom-loader-before-background: transparenr;

    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

</style>
