<template>
  <label class="ui-radio">
    <input
        ref="input"
        type="checkbox"
        class="ui-radio__input"
        :checked="isChecked"
        v-bind="$attrs"
        :value="value"
        @input="onInput"
    >
    <slot/>
  </label>
</template>

<script>
export default {
  name: 'UICheckbox',
  inheritAttrs: false,
  props: {
    modelValue: {
      type: [Array, Boolean], // [string|number][] || boolean
      default() {
        return [];
      }
    },
    value: {
      type: [String, Number, Boolean],
      required: true
    },
    checked: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update:modelValue'],
  data() {
    return {};
  },
  computed: {
    isModelValueArray() {
      return Array.isArray(this.modelValue);
    },
    isChecked() {
      if (this.isModelValueArray) {
        return this.checked || this.modelValue.includes(this.value);
      }
      return this.checked || this.modelValue;
    }
  },
  mounted() {
    if (this.checked) {
      const { input } = this.$refs;
      const event = new Event('input');
      input.dispatchEvent(event);
    }
  },
  methods: {
    onInput(event) {
      const { checked } = event.target;
      if (this.isModelValueArray) {
        const arr = [...this.modelValue];
        if (checked) {
          arr.push(this.value);
          this.$emit('update:modelValue', arr);
        } else {
          const removedIndex = arr.indexOf(this.value);
          arr.splice(removedIndex, 1);
          this.$emit('update:modelValue', arr);
        }
      } else {
        this.$emit('update:modelValue', checked);
      }
    }
  }
};
</script>

<style scoped lang="scss">

</style>
