<template>
  <div  @click="open = !open" class="ui-dropdown">
    <div class="ui-dropdown__title">
      {{ title }} <img
        src="@/assets/images/dropdown-icon.svg"
        alt=""
    >
    </div>
    <Transition>
    <div v-show="open" class="ui-dropdown__content">
      <slot></slot>
    </div>
    </Transition>
  </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name:  'UIDropdown',
  data() {
    return {
      open: false
    }
  },
  props: {
    title: {
      type:    String,
      default: '',
    },
  },
});
</script>

<style scoped>
.ui-dropdown {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.ui-dropdown__title {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  justify-content: space-between;
}


.ui-dropdown__content {
  overflow: hidden;

}
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  height: 100%;
  transition: height 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  height: 0;
}
</style>
