<template>
    <input
        class="ui-input"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :class="{ 'ui-input--error': state === 'error' }"
        v-bind="$attrs"
    >
</template>

<script>
export default {
  name:  'UIInput',
  props: {
    state: {
      type:    String,
      default: '',
    },
    modelValue: String
  },
  emits: ['update:modelValue'],
};
</script>

<style lang="scss" scoped>
.ui-input {
  --input-height:  48px;
  --outline-color: inherit;
  --border-color: #E0E0E0;

  width:           100%;
  border:          1px solid var(--border-color);
  border-radius:   5px;
  font-size:       16px;
  padding:         calc(var(--grid-gutter) * 2);
  box-sizing:      border-box;
  outline:         1px solid var(--outline-color);
  transition: 0.3s outline-color ease;


  &:focus, &:focus-visible {
    --outline-color: #A5A9B6;
  }

  &--error {
    border-color: #FF6666;
    outline: 2px solid #FFE8E9;
  }

    &[type=date]::-webkit-calendar-picker-indicator {
        filter: invert(69%) sepia(72%) saturate(4429%) hue-rotate(127deg) brightness(89%) contrast(101%);
    }
}
</style>
