<template>
    <h3 class="ui-label">
        <slot></slot>
    </h3>
</template>
<style scoped>
.ui-label {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.2;
    color: #818C99;
    font-weight: 500;

}
</style>
