<template>
    <a href="" class="ui-link" :class="{
            ['ui-link--blue'] : typeLink,
            [`ui-link--${size}`] : size
    }">
        <slot></slot>
    </a>
</template>

<script>
export default {
    name: 'UILink',
    props: {
        typeLink: {
            type: String,
            default: ''
        },
        size: {
            type: String,
            default: 'md'
        }
    }
}
</script>

<style lang="scss" scoped>
.ui-link {
    --color: #000;
    --decoration: none;
    --font-size: 16px;

    display: flex;
    align-items: center;
    font-size: var(--font-size);
    line-height: 20px;
    font-weight: 500;
    color: var(--color);
    text-decoration: var(--decoration);
    &--sm {
        --font-size: 12px;
    }
    &:hover {
        --decoration: underline;
    }

    &--blue {
        --color: #3F8AE0;
    }

}
</style>