§§<template>
  <div class="ui-progress__bar">
    <div class="ui-progress__bar-line" :style="progressPosition"></div>
  </div>
</template>

<script>
export default {
  name: 'UIProgress',
  computed: {
    progressPosition() {
      return `width: ${this.progress}%`
    }
  },
  props: {
    progress: {
      type: Number,
      default: 0
    }
  }
};
</script>

<style lang="scss" scoped>
.ui-progress__bar {
  --line-height: 10px;
  --border-radius: 20px;

  position: relative;
  background: #DFF5E5;
  border-radius: var(--border-radius);
  height: var(--line-height);
}

.ui-progress__bar-line {
  position: absolute;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: #00B68A;
  transition: width 1s ease-in-out 1s;
}
</style>