<template>
  <label class="ui-radio">
    <input
        ref="input"
        type="radio"
        class="ui-radio__input"
        :checked="checked"
        v-bind="$attrs"
        @input="$emit('update:modelValue', $event.target.value)"
    >
    <slot />
  </label>
</template>

<script>
export default {
  name: 'UIRadio',
  inheritAttrs: false,
  components: {},
  props: {
    modalValue: {
      type: String,
      default: '',
    },
    checked: {
      type: Boolean,
      default: false,
    },
    propName: {
      type: String,
      default: '',
    },
  },
  emits: ['update:modelValue'],
  data() {
    return {};
  },
  mounted() {
    if (this.checked) {
      const { input } = this.$refs;
      const event = new Event('input');
      input.dispatchEvent(event);
    }
  }
};
</script>

<style scoped lang="scss">

</style>
