<template>
    <span class="ui-ships" :class="{
        [`ui-ships--${shipsType}`]: shipsType,
        'ui-ships--copy' : isCopy
    }"
          @click="copy">
        {{ text }}
        <svg v-if="isCopy" class="ui-ships__copy-icon">
            <use xlink:href="@/assets/images/copy-icon.svg#copy"></use>
        </svg>
        <input v-if="isCopy" type="hidden" ref="textToCopy" :value="text">
    </span>
</template>

<script>
export default {
    name: 'UIShips',
    props: {
        text: {
            type: String,
            default: ''
        },
        shipsType: {
            type: String,
            default: 'primary'
        },
        isCopy: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        copy() {
            let textToCopy = this.$refs.textToCopy
            textToCopy.setAttribute('type', 'text')
            textToCopy.select()
            try {
                document.execCommand('copy');
            } catch (err) {
                console.log(err)
            }
            textToCopy.setAttribute('type', 'hidden')
            window.getSelection().removeAllRanges()
        }
    }
}
</script>

<style lang="scss" scoped>
.ui-ships {
    --btn-height: 15px;
    --bg-color: var(--primary);
    --text-color: black;
    --color-icon: #818C99;

    border-radius: 5px;
    font-size: 12px;
    padding: 0 var(--grid-gutter);
    height: var(--btn-height);
    letter-spacing: 0.03em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: var(--bg-color);
    color: var(--text-color);

    &--copy {
        cursor: pointer;

        &:hover {
            --color-icon: #9CA9B8;
        }
    }

    &__copy-icon {
      width: 10px;
      height: 10px;
      color: var(--color-icon);
    }

    &--primary {
        --bg-color: #DCEEF4;
    }

    &--success {
        --bg-color: #A1E4D4;
    }

    &--error {
        --bg-color: #FFD7DC;
    }

    &--warning {
        --bg-color: #FFF1BF;
    }

}

</style>
