<template>
  <div class="slider">
    <Swiper
        ref="swiper"
        :space-between="50"
        :pagination="swiperPagination"
        :modules="modules"
    >
      <slot />
    </Swiper>
    <div ref="pagination" :class="paginationClass" />
  </div>
</template>

<script>
import { Swiper } from 'swiper/vue';
import { Pagination } from 'swiper';
import 'swiper/css';
import 'swiper/css/pagination';

export default {
  name: 'UISlides',
  components: { Swiper },
  props: {
    id: {
      type: String,
      default: Date.now().toString(),
    },
  },
  data() {
    return {};
  },
  setup() {
    return {
      modules: [Pagination],
    };
  },
  computed: {
    paginationClass() {
      return [
        'slider__pagination',
        `slider__pagination--${this.id}`
      ];
    },
    swiperPagination() {
      return {
        clickable: true,
        el: `.slider__pagination--${this.id}`,
        bulletClass: 'slider__dot',
        bulletActiveClass: 'slider__dot--active',
      }
    }
  },
};
</script>

<style scoped lang="scss">
.slider__pagination {
  display: flex;
  justify-content: center;
  gap: gridCalc(1);
  margin-top: gridCalc(3);
}
::v-deep(.slider__dot) {
  width: gridCalc(1);
  height: gridCalc(1);
  border-radius: 50%;
  background: var(--secondary);
  cursor: pointer;
}
::v-deep(.slider__dot--active) {
  background: var(--turquoise);
}
</style>
