<template>
  <div class="slider-item">
    <div class="slider-item__container">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'UISlidesItem',
  components: {},
  props: {
    propName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {};
  },
  computed: {},
  methods: {},
};
</script>

<style scoped lang="scss">
.slider-item {
  --slide-aspect-ratio: var(--custom-slide-aspect-ratio, 16 / 9);
  --slide-border: var(--custom-slide-border, var(--default-border));
  --slide-background: var(--custom-slide-background, transparent);

  aspect-ratio: var(--slide-aspect-ratio);
  height: auto;
  width: 100%;
  background: var(--slide-background);
  border: var(--slide-border);
  border-radius: 10px;
}
</style>
