<template>
  <div class="ui-substrate" :class="theme ? `ui-substrate--theme--${theme}` : ''">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'UISubstrate',
  props: {
    theme: {
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped>
.ui-substrate {
  display: block;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  min-width: 0;

  &--theme--secondary {
    background-color: var(--secondary);
  }
}
</style>
