<template>
  <button class="ui-tab" :class="{'ui-tab--active': isActive}">
    <slot></slot>
  </button>
</template>
<script>
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'UITab',
  props: {
    isActive: {
      type: Boolean,
      default: false,
    }
  }
})
</script>
<style lang="scss" scoped>
.ui-tab {
  padding: calc(var(--grid-gutter) * 0.5) var(--grid-gutter);
  border-radius: 10px;
  cursor: pointer;
  border: unset;
  font-size: 14px;
  background-color: transparent;
  color: #818C99;
  transition: 0.3s background-color, outline-width, outline-color ease;

  &--active {
    background-color: #639AED;
    color: #fff;
  }

  &:focus {
    outline: 2px solid #0057dbba;
  }

  &:hover {
    background-color: rgba(99, 154, 237, 0.86);
    color: #fff;
  }
}
</style>
