<template>
  <h1 class="ui-title1">
    <slot></slot>
  </h1>
</template>
<style scoped>
.ui-title1 {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  word-break: break-all;
}
</style>
