<template>
    <h3 class="ui-title3">
        <slot></slot>
    </h3>
</template>
<style scoped>
.ui-title3 {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}
</style>
