<template>
  <form class="auth-form" @submit.prevent="onSubmit">
    <UIInput type="email" v-model="form.email" placeholder="E-mail*" class="auth-form__input"/>
    <UIInput type="password" v-model="form.password" placeholder="Пароль*" class="auth-form__input"/>
    <UIBtn type="submit" class="auth-form__btn">Войти</UIBtn>
  </form>
</template>

<script>
import {defineComponent} from 'vue';

import UIInput from '../ui/UIInput.vue';
import UIBtn from '../ui/UIBtn.vue';

export default defineComponent({
  name: 'AuthForm',
  components: {
    UIInput,
    UIBtn,
  },
  emits: ['form:submit'],
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    onSubmit() {
      this.$emit('form:submit', {...this.form})
    }
  }
})
</script>

<style lang="scss" scoped>
.auth-form__input:not(:first-of-type) {
  margin-top: gridCalc(1);
}

.auth-form__btn {
  margin-top: gridCalc(3);
}
</style>
