<template>
  <form class="register-form" @submit.prevent="onSubmitForm">
    <UIFieldset class="register-form__main-fieldset">
      <UIInput v-model="form.lastName" class="register-form__input" type="text" placeholder="Название организации"/>
      <UIInput v-model="form.phone" class="register-form__input" type="phone" placeholder="Телефон"/>
      <UIInput v-model="form.email" class="register-form__input" type="email" placeholder="E-mail"/>
    </UIFieldset>
    <UIFieldset class="register-form__secondary-fieldset">
      <UIInput v-model="form.password" class="register-form__input" type="password" placeholder="Пароль"/>
      <UIInput v-model="form.passwordConfirmation" class="register-form__input" type="password" placeholder="Повторите пароль"/>
    </UIFieldset>
    <UIFieldset class="register-form__agreement">
      <UICheckbox  required>
        <label>Я согласен с  Условиями сервиса</label>
      </UICheckbox>
    </UIFieldset>
    <UIBtn :isLoad="isLoad" type="submit">Стать организацией</UIBtn>
  </form>
</template>
<script>
import { defineComponent } from 'vue';

import UIFieldset from '@/components/ui/UIFieldset.vue';
import UICheckbox from '@/components/ui/UICheckbox.vue';
import UIInput from '@/components/ui/UIInput.vue';
import UIBtn from '@/components/ui/UIBtn.vue';

export default defineComponent({
  name: 'OrganizationRegistrationForm',
  components: {
    UIBtn,
    UIFieldset,
    UIInput,
    UICheckbox
  },
  props: {
    isLoad: {
      type: Boolean,
      default: false,
    }
  },
  emits: ['submit:form'],
  data() {
    return {
      form: {
        firstName: '',
        lastName: '',
        phone: '',
        email: '',
        agree: false,
        password: '',
        passwordConfirmation: '',
      }
    }
  },
  methods: {
    onSubmitForm() {
      this.$emit('submit:form', { ...this.form });
    }
  }
})
</script>

<style lang="scss" scoped>
.register-form__main-fieldset {
  margin-bottom: calc(var(--grid-gutter) * 4);
}

.register-form__input:not(:last-of-type) {
  margin-bottom: var(--grid-gutter);
}

.register-form__agreement {
  padding-top: gridCalc(2);
  padding-bottom: gridCalc(2);
}
</style>
