<template>
    <form class="organization-questionnaire__form" @submit.prevent="onSubmitForm">
        <!-- TODO: Доделать форму вывода -->
            <UISubstrate>
                <div class="organization-questionnaire__form-title">
                    <UITitle2>
                        Реквизиты
                    </UITitle2>
                </div>
                <div class="organization-questionnaire__form-inputs">
                    <UIInput v-model="form.requisites.name" type="text" placeholder="Название"/>
                    <UIInput v-model="form.requisites.inn" type="number" placeholder="ИНН"/>
                    <UIInput v-model="form.requisites.kpp" type="number" placeholder="КПП"/>
                    <UIInput v-model="form.requisites.ogrn" type="number" placeholder="ОГРН"/>
                    <UIInput v-model="form.requisites.legalAddress" type="text" placeholder="Юридический адрес"/>
                </div>
            </UISubstrate>

            <UISubstrate>
                <div class="organization-questionnaire__form-title">
                    <UITitle2>
                        Контакты
                    </UITitle2>
                </div>
                <div class="organization-questionnaire__form-inputs">
                    <UIInput v-model="form.contacts.tel" type="tel" placeholder="Телефон"/>
                    <UIInput v-model="form.contacts.email" type="email" placeholder="E-mail"/>
                    <UIInput v-model="form.contacts.site" type="text" placeholder="Сайт"/>
                    <UIInput v-model="form.contacts.vk" type="text" placeholder="Профиль VK"/>
                    <UIInput v-model="form.contacts.telegram" type="text" placeholder="Telegram"/>
                </div>
            </UISubstrate>

            <UISubstrate>
                <div class="organization-questionnaire__form-title">
                    <UITitle2>
                        Укажите направления, которые вам интересны
                    </UITitle2>
                </div>
                <div class="organization-questionnaire__form-inputs">
                    <div class="" v-for="(direction, index) of directions" :key="index">
                        <UICheckbox v-model="form.directions" :value="direction.name">{{ direction.name }}</UICheckbox>
                    </div>
                </div>
            </UISubstrate>
            <div class="organization-questionnaire__save">
                <UIBtn type="submit">Сохранить</UIBtn>
            </div>
    </form>
</template>

<script>
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import UIInput from '@/components/ui/UIInput.vue';
import UICheckbox from '@/components/ui/UICheckbox.vue';
import UIBtn from '@/components/ui/UIBtn.vue';

export default {
    name: 'OrganizationQuestionnaireForm',
    components: {
        UIInput,
        UITitle2,
        UISubstrate,
        UICheckbox,
        UIBtn
    },
    props: {
        organization: {
            type: Object,
            required: true,
            default: () => ({
                requisites: {
                    name: '',
                    inn: '',
                    kpp: '',
                    ogrn: '',
                    legalAddress: ''
                },
                contacts: {
                    tel: '',
                    email: '',
                    site: '',
                    vk: '',
                    telegram: '',
                },
                directions: []
            })
        }
    },
    emits: ['submit:form'],
    data() {
        return {
            form: Object.assign({}, this.organization),
            directions: [
                {
                    name: 'Здоровье и ЗОЖ',
                },
                {
                    name: 'Массовые мероприятия',
                },
                {
                    name: 'Природа и животные',
                },
                {
                    name: 'Помощь пожилым',
                },
                {
                    name: 'Дети и  молодежь',
                },
                {
                    name: 'Поиск пропавших',
                },
                {
                    name: 'Культура и искусство',
                },
                {
                    name: 'Городская среда',
                },
                {
                    name: 'Права человека',
                },
                {
                    name: 'Социальная защита',
                },
                {
                    name: 'Образование',
                },
                {
                    name: 'ЧС'
                }
            ],
        };
    },
    methods: {
        onSubmitForm() {
            alert('Вы сохранили форму')
            this.$emit('submit:form', {...this.form});
        }
    },
}
</script>

<style lang="scss" scoped>

.organization-questionnaire__form {
    display: grid;
    grid-gap: 8px;
    padding-top: gridCalc(2);
    padding-bottom: gridCalc(2);
}

.organization-questionnaire__form-title {
    padding-bottom: gridCalc(2);
}

.organization-questionnaire__form-inputs {
    display: grid;
    grid-gap: gridCalc(1);
}
.organization-questionnaire__save {
  padding: gridCalc(1);
}
</style>