<template>
    <form class="organization-quest-form" @submit.prevent="onSubmitForm">
        <UISubstrate class="organization-quest-form__block">
            <div class="organization-quest-form__item">
                <UITitle2>
                    Описание задания
                </UITitle2>
                <div class="organization-quest-form__item">
                    <UITitle3>
                        Название
                    </UITitle3>
                    <UIInput v-model="form.name" type="text" placeholder="Название"/>
                </div>
                <div class="organization-quest-form__item">
                    <UITitle3>
                        Описание
                    </UITitle3>
                    <UITextarea v-model="form.description" type="text" placeholder="Описание"/>
                </div>
            </div>
        </UISubstrate>
        <UISubstrate class="organization-quest-form__block">
            <UITitle2>
                Дата проведения
            </UITitle2>
            <div class="organization-quest-form__item">
                <UITitle3>
                    Дата начала:
                </UITitle3>
                <UIInput v-model="form.start_date" type="date" placeholder="Начало"/>
            </div>
            <div class="organization-quest-form__item">
                <UITitle3>
                    Дата окончания:
                </UITitle3>
                <UIInput v-model="form.end_date" type="date" placeholder="Окончание"/>
            </div>
        </UISubstrate>
        <UISubstrate class="organization-quest-form__block">
            <UITitle2>
                Поощрение
            </UITitle2>
            <div class="organization-quest-form__item">
                <UITitle3>
                    В доброкоинах:
                </UITitle3>
                <UIInput v-model="form.reward_coins" placeholder="Описание"/>
            </div>
            <div class="organization-quest-form__item">
                <UITitle3>
                    Опытом:
                </UITitle3>
                <UIInput v-model="form.reward_exp" placeholder="Описание"/>
            </div>
        </UISubstrate>
        <UISubstrate class="organization-quest-form__block">
            <UITitle2>
                Формат
            </UITitle2>
            <div class="organization-quest-form__item">
                <UITitle3>
                    Формат проведения
                </UITitle3>
                <UIRadio name="ui-page-ui-radio" v-model="form.format" checked value="offline">Оффлайн</UIRadio>
                <UIRadio name="ui-page-ui-radio" v-model="form.format" value="online">Онлайн</UIRadio>
            </div>
        </UISubstrate>
        <div class="organization-quest-form__save">
          <UIBtn :isLoad="isLoad">
            Создать задание
          </UIBtn>
        </div>
    </form>
</template>

<script>
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UIInput from '@/components/ui/UIInput.vue';
import UITextarea from '@/components/ui/UITextarea.vue';
import UIRadio from '@/components/ui/UIRadio.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UITitle3 from '@/components/ui/UITitle3.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import authStorage from '@/services/authStorage';
export default {
    name: 'OrganizationQuestForm',
    components: {UITitle2, UIBtn, UITextarea, UISubstrate, UIInput, UIRadio, UITitle3},
    props: {
        isLoad: {
            type: Boolean,
            default: false,
        }
    },
    data() {
        return {
            form: {
                'organization_id': authStorage.id,
                'name': '',
                'description': '',
                'img': null,
                'start_date': '',
                'end_date': '',
                'reward_coins': 1,
                'reward_exp': 100,
                'format': 'offline',
            }
        }
    },
    methods: {
        onSubmitForm() {
            this.$emit('submit:form', {...this.form});
        }
    }
}
</script>

<style lang="scss" scoped>
.organization-quest-form {
    display: grid;
    grid-gap: gridCalc(2);
}

.organization-quest-form__block {
    display: grid;
    grid-gap: gridCalc(2);
}

.organization-quest-form__item {
    display: grid;
    grid-gap: gridCalc(1);
}

.organization-quest-form__save {
  padding: gridCalc(1);
}
</style>