<template>
  <form class="search-form" @submit.prevent>
    <div class="search-form__group">
      <UITitle3 class="search-form__label">Тип поиска</UITitle3>
      <div class="search-form__types">
        <UITab
            v-for="(tab, index) in types"
            :key="index"
            :is-active="activeType === tab.id"
            @click.prevent="activeType = tab.id"
        >
          {{ tab.name }}
        </UITab>
      </div>
    </div>
    <div class="search-form__group">
      <UITitle3 class="search-form__label">Период владения</UITitle3>
      <div class="search-form__dates">
        <UIInput type="date"/>
        <UIInput type="date"/>
      </div>
    </div>
    <div class="search-form__group">
      <UITitle3 class="search-form__label">Формат</UITitle3>
      <div>
        <UICheckbox>Онлайн</UICheckbox>
        <UICheckbox>Оффлайн</UICheckbox>
      </div>
    </div>
    <div class="search-form__group">
      <UITitle3 class="search-form__label">Интересные направления</UITitle3>
      <UIInput/>
    </div>
    <UIBtn class="search-form__submit" @click="$emit('form:search', this.activeType)">Искать</UIBtn>
  </form>
</template>
<script>
import {defineComponent} from 'vue';

import UIInput from '@/components/ui/UIInput.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UICheckbox from '@/components/ui/UICheckbox.vue';
import UITitle3 from '@/components/ui/UITitle3.vue';
import UITab from '@/components/ui/UITab.vue';

export default defineComponent({
  name: 'SearchForm',
  components: {
    UIInput,
    UIBtn,
    UICheckbox,
    UITitle3,
    UITab,
  },
  data() {
    return {
      types: [
        {id: 'quests', name: 'Задания'},
        {id: 'volunteers', name: 'Волонтеры'},
      ],
      activeType: 'quests',
    }
  },
  methods: {
    onChange(type) {
      this.activeType = type
    },
    onSearch() {
      this.$emit('form:search', this.activeType);
    }
  }
})
</script>

<style lang="scss" scoped>
.search-form__dates {
  display: flex;
  grid-gap: gridCalc(1);
}

.search-form__group:not(:first-of-type) {
  margin-top: gridCalc(2);
}

.search-form__label {
  display: block;
  margin-bottom: gridCalc(1);
}

.search-form__submit {
  margin-top: gridCalc(2);
}

.search-form__types {
  display: flex;
  grid-gap: gridCalc(1);
}
</style>
