<template>
  <form  @submit.prevent="$emit('save', form)" class="volunteer-questionnaire__forms-container">
    <UISubstrate>
      <div class="volunteer-questionnaire__form">
        <UITitle2>
          Личные данные
        </UITitle2>
        <div class="volunteer-questionnaire__form-item-name">
          ФИО
        </div>
        <UIInput
            type="text"
            v-model="form.requisites.surname"
            placeholder="Фамилия"
        />
        <UIInput
            type="text"
            v-model="form.requisites.name"
            placeholder="Имя"
        />
        <UIInput
            type="text"
            v-model="form.requisites.lastname"
            placeholder="Отчество"
        />

        <div class="volunteer-questionnaire__form-item-name">
          Пол
        </div>
        <div class="volunteer-questionnaire__form-choose-one">
          <UIRadio
              name="sex"
              v-model="form.requisites.sex"
              :checked="form.requisites.sex === 'male'"
              value="male"
          >Мужской
          </UIRadio>
          <UIRadio
              name="sex"
              v-model="form.requisites.sex"
              :checked="form.requisites.sex === 'female'"
              value="female"
          >Женский
          </UIRadio>
        </div>
        <UIInput
            type="text"
            v-model="form.requisites.age"
            placeholder="Возраст"
        />
      </div>
    </UISubstrate>

    <UISubstrate>
      <div class="volunteer-questionnaire__form">
        <UITitle2>
          Контакты
        </UITitle2>
        <UIInput
            type="tel"
            v-model="form.contacts.tel"
            placeholder="Телефон"
        />
        <UIInput
            type="email"
            v-model="form.contacts.email"
            placeholder="E-mail"
        />
        <UIInput
            type="text"
            v-model="form.contacts.site"
            placeholder="Сайт"
        />
        <UIInput
            type="text"
            v-model="form.contacts.telegram"
            placeholder="Telegram"
        />
        <UIInput
            type="text"
            v-model="form.contacts.vk"
            placeholder="Профиль VK"
        />
      </div>
    </UISubstrate>

    <UISubstrate>
      <div class="volunteer-questionnaire__form">
        <UITitle2>
          Сферы деятельности
        </UITitle2>
        <div class="volunteer-questionnaire__form-item-name">
          Ваше образование
        </div>
        <div class="volunteer-questionnaire__form-radios">
          <div
              v-for="(activity, index) of activities"
              :key="index"
          >
            <UICheckbox
                v-model="form.activities.checks"
                :value="activity.name"
            >{{ activity.name }}
            </UICheckbox>
          </div>
        </div>
        <UIInput
            v-model="form.activities.educationPlace"
            placeholder="Место учебы"
        />
        <UIInput
            v-model="form.activities.workPlace"
            placeholder="Место работы"
        />
      </div>
    </UISubstrate>

    <UISubstrate>
      <div class="volunteer-questionnaire__form">
        <UITitle2>
          Навыки
        </UITitle2>
        <div class="volunteer-questionnaire__form-radios">
          <div
              v-for="(skill, index) of skills"
              :key="index"
          >
            <UICheckbox
                v-model="form.skills.checks"
                :value="skill.name"
            >{{ skill.name }}
            </UICheckbox>
          </div>
        </div>
        <UIInput
            v-model="form.skills.other"
            placeholder="Другое"
        />
      </div>
    </UISubstrate>

    <UISubstrate>
      <UITitle2>
        Укажите направления которые вам интересны
      </UITitle2>
      <div class="volunteer-questionnaire__form-radios">
        <div
            v-for="(direction, index) of directions"
            :key="index"
        >
          <UICheckbox
              v-model="form.directions.checks"
              :value="direction.name"
          >{{ direction.name }}
          </UICheckbox>
        </div>
      </div>
    </UISubstrate>
    <div class="volunteer-questionnaire__save">
      <UIBtn type="submit">Сохранить</UIBtn>
    </div>
  </form>
</template>

<script>
import UIInput from '@/components/ui/UIInput.vue';
import UIBtn from '@/components/ui/UIBtn.vue';
import UITitle2 from '@/components/ui/UITitle2.vue';
import UISubstrate from '@/components/ui/UISubstrate.vue';
import UICheckbox from '@/components/ui/UICheckbox.vue';
import UIRadio from '@/components/ui/UIRadio.vue';
import { cloneDeep } from 'lodash';

export default {
  name:       'VolunteerForm',
  components: {
    UIInput,
    UITitle2,
    UISubstrate,
    UICheckbox,
    UIRadio,
    UIBtn,
  },
  props: {
    formData: {
      type: Object,
      default: () => ({}),
    }
  },
  data () {
    return {
      key: 0,
      directions: [
        {
          name: 'Здоровье и ЗОЖ',
        },
        {
          name: 'Массовые мероприятия',
        },
        {
          name: 'Природа и животные',
        },
        {
          name: 'Помощь пожилым',
        },
        {
          name: 'Дети и  молодежь',
        },
        {
          name: 'Поиск пропавших',
        },
        {
          name: 'Культура и искусство',
        },
        {
          name: 'Городская среда',
        },
        {
          name: 'Права человека',
        },
        {
          name: 'Социальная защита',
        },
        {
          name: 'Образование',
        },
        {
          name: 'ЧС',
        },
      ],
      skills:[
        {
          name: 'Первая помощь',
        },
        {
          name: 'Поиск людей',
        },
        {
          name: 'Иностранные языки',
        },
      ],
      activities: [
        {
          name: 'Среднее',
        },
        {
          name: 'Среднее профессиональное',
        }, {
          name: 'Высшее неполное',
        }, {
          name: 'Высшее бакалавриат',
        }, {
          name: 'Высшее специалитет или магистратура',
        }],
      form:       {
        requisites: {
          surname:  '',
          name:     '',
          lastname: '',
          sex:      '',
          age:      '',
        },
        contacts:   {
          tel:      '',
          email:    '',
          site:     '',
          vk:       '',
          telegram: '',
        },
        skills:     {
          checks: [],
          other:  '',
        },
        activities: {
          checks:         [],
          educationPlace: '',
          workPlace:      '',
        },
        directions: {
          checks: [],
        },
      },
      foo: {
        requisites: {
          surname:  'алиев',
          name:     'алиев',
          lastname: 'алиев',
          sex:      '',
          age:      '25',
        },
        contacts:   {
          tel:      '1',
          email:    '1',
          site:     '1',
          vk:       '1',
          telegram: '1',
        },
        skills:     {
          checks: [],
          other:  '1',
        },
        activities: {
          checks:         [],
          educationPlace: '1',
          workPlace:      '1',
        },
        directions: {
          checks: [
            "Здоровье и ЗОЖ",
            "Дети и  молодежь",
            "Права человека",
            "Культура и искусство"
          ]
        },
      }
    };
  },
  watch: {
    formData: {
      deep: true,
      handler() {
        this.updateFormData()
      }
    }
  },
  methods: {
    updateFormData() {
      this.form = cloneDeep(this.formData);
    },
  },
  mounted () {
    this.updateFormData()
  }
};
</script>

<style
    lang="scss"
    scoped
>
.volunteer-questionnaire__forms-container {
  margin-bottom: gridCalc(3);
  display:       grid;
  gap:           gridCalc(1);
}

.volunteer-questionnaire__form-item-name {
  margin-top: gridCalc(1);
}

.volunteer-questionnaire__form {
  display:  grid;
  grid-gap: gridCalc(1);
}

.volunteer-questionnaire__form-radios {
  display:     grid;
  grid-gap:    gridCalc(2);
  padding-top: gridCalc(2);
}
.volunteer-questionnaire__save {
  padding: gridCalc(1);
}
</style>
